[2019-10-08 14:05] dubesar opened #1 "Add arrayList example."
Give an example of ArrayList and explain using comments.

[2019-10-08 14:09] Apoorv-Gaurav-Agarwal commented on #1
I would love to help on this. Please assign

[2019-10-08 14:15] dubesar opened #2 "Add loop in Java"
Add different methods to use loops in Java including for, while, for each.

[2019-10-08 14:19] rohanmarwaha222 commented on #2
What kind of operations do you want to show in a loop operation?

[2019-10-08 14:53] dubesar commented on #2
The loop should be basic showing any operation but the core is to write the code to make concepts to how to use it.

[2019-10-08 15:03] dubesar opened #5 "Add linkedlist and associated methods"
Add linkedlist and all the operations like deletion, insertion and all possible functions and explain each function with comments

[2019-10-08 15:08] dubesar commented on #2
@Sravanksk  sure, and Thanks for supporting the repository

[2019-10-08 15:11] #1 closed

[2019-10-08 15:13] sPredictorX1708 opened #6 "Add stack operations in Java using ArrayList"
Add stack operation using ArrayList like push and pop

[2019-10-08 15:16] georgioupanayiotis commented on #5
i will get this one!

[2019-10-08 15:20] georgioupanayiotis commented on #6
Created the [PR](https://github.com/dubesar/CompetitiveJava/pull/8)

[2019-10-08 15:23] #5 closed

[2019-10-08 15:30] dubesar commented on #6
@georgioupanayiotis  Please create another file as this maintains the repository that can be understood by new comers

[2019-10-08 15:33] dubesar opened #9 "Add search methods for ArrayList."
Add both Binary search as well as Linear search returning the index of the required element and throw an error if there is no presence of the element. Comment the code properly.

[2019-10-08 15:47] dubesar opened #11 "Binary search using inbuilt functions"
Add binarysearch inbuilt methods.

[2019-10-08 16:12] dubesar opened #14 "Add lower bound and upper bound similar to c++ in Java."
Add lower bound and upper bound in Java. Comment the code properly.

[2019-10-08 16:22] zbeach commented on #14
I'd like to work on this! Is there a specific structure type you'd like me to use in the example?

[2019-10-08 16:26] dubesar opened #16 "Improve Readme"
Add relevant functions that have been added till now and and give introduction of the repository.

[2019-10-08 16:27] dubesar commented on #14
Yes use any any integer array to find lower bound and upper bound of any integer that you like in the arraylist. And remember to use ArrayList.

[2019-10-08 16:39] dubesar opened #17 "Add implementation of prefix array in Java"
Add implementation of prefix array in ArrayList. Comment the code properly

[2019-10-08 17:17] TomerPacific commented on #17
@dubesar,
I'd like to help. When you say prefix array, what do you mean?
I am ware of [prefix sum array](https://www.geeksforgeeks.org/prefix-sum-array-implementation-applications-competitive-programming/).

[2019-10-08 17:28] dubesar commented on #17
Yes it's prefix sum array

[2019-10-08 17:38] dubesar opened #22 "Segeregate files according to Data Structures and Algorithms."
Seperate the code files accordingly to where they should belong like make a seperate DS folder and put all the relevant stuffs and same for algos

Like prefix sum array, binary search etc should be in algos and java loops, linkedlist , stack in data structures . Name the folder properly.

[2019-10-08 17:44] hunarjain007 commented on #22
I want to do it.. Can you please assign me this. @dubesar

[2019-10-08 17:45] dubesar commented on #22
@hunarjain007  please go ahead. I will assign this to you.

[2019-10-08 17:49] dubesar opened #24 "Implementation of Queue using ArrayList"
Use ArrayList to make a queue. Add comments properly.

[2019-10-08 17:51] Areadrill commented on #24
Hi! I can take this one.

[2019-10-08 17:52] #14 closed

[2019-10-08 17:53] dubesar commented on #24
@Areadrill  sure go ahead

[2019-10-08 18:01] dubesar commented on #22
@hunarjain007 please also move lower bound and upper bound to relevant folders.

[2019-10-08 18:02] #6 closed, assigned to nobody

[2019-10-08 18:09] dubesar opened #28 "Add Hashmaps and its methods."
Add Hashmaps , it's implementation. Properly comment the code and also put jt in relevant folder.

[2019-10-08 18:12] #17 closed

[2019-10-08 18:17] fbonalair commented on #16
Hey!

I updated the docs in #30

[2019-10-08 18:23] sweezy793 commented on #28
Can I work on this ?

[2019-10-08 18:26] dubesar commented on #28
@sweezy793  sure go ahead!!

[2019-10-08 18:43] dubesar opened #33 "Add basic oops concepts"
Create a Documentation folder and add basic documentation for OOPS having concepts like abstraction , encapsulation , inheritance. Do give real world examples for each. And possibly add small code snippets inside the documentation itself for each related concept.

[2019-10-08 18:46] #28 closed

[2019-10-08 18:47] #16 closed

[2019-10-08 18:48] dubesar opened #34 "Add Hashmaps to Readme"

[2019-10-08 18:52] imrishabh18 commented on #33
I would like to take this.

[2019-10-08 18:55] rjrahul10 commented on #34
@dubesar I can do that

[2019-10-08 18:59] dubesar commented on #34
@rjrahul10 Go for it!!

[2019-10-08 18:59] dubesar commented on #33
@imrishabh18  Go for it!!

[2019-10-08 19:10] imrishabh18 commented on #33
The documentation file should have an extension of .txt or .md. I am a beginner so i was having this doubt.

[2019-10-08 19:11] dubesar commented on #33
@imrishabh18  it should have .md extension and don't forget to use Markdown.

[2019-10-08 21:40] divakar-lakhera commented on #24
Added a PR #35  for implementation of Queue using ArrayList.

[2019-10-09 00:12] #34 closed

[2019-10-09 00:23] #24 closed

[2019-10-09 00:38] dubesar opened #38 "Update Readme"
Add Stack and Queue to readme and follow markdown as followed in current readme.

[2019-10-09 01:05] nchand commented on #38
Working on it . Assign it to me

[2019-10-09 01:19] #38 closed

[2019-10-09 01:26] dubesar opened #41 "Add two pointer method example"
Add two pointer algorithm example in Java. Comment the code properly

[2019-10-09 01:27] dubesar opened #42 "Add BFS for a given graph."
Add BFS code with an example in algorithms. Comment the code properly.

[2019-10-09 01:32] dubesar opened #43 "Add DFS for a given graph"
Add DFS algorithm and explain using example. Comment the code properly.

[2019-10-09 01:33] dubesar opened #44 "Add Dijkstra for a given graph."
Add Dijkstra code for a given graph having a start and end point. Comment the code properly.

[2019-10-09 01:38] dubesar opened #45 "Add Connected components of a graph"
Add code for number of connected components in a graph. Properly comment the code.

[2019-10-09 02:59] chrisom79 commented on #43
I can take care of this issue

[2019-10-09 03:10] #44 closed

[2019-10-09 04:01] anil10032 commented on #45
I will take this. Please assign it to me

[2019-10-09 04:25] #43 closed

[2019-10-09 05:05] Apoorv-Gaurav-Agarwal commented on #41
Is this still open? I can work on this.

[2019-10-09 05:13] Sharo-0n commented on #41
PR ready!

[2019-10-09 05:34] Apoorv-Gaurav-Agarwal commented on #42
I can take this

[2019-10-09 06:17] #41 closed

[2019-10-09 07:38] #42 closed

[2019-10-09 07:38] #45 closed

[2019-10-09 11:11] #33 closed

[2019-10-09 12:07] dubesar opened #56 "Add priority queue"
Add priority queue example with proper comments.

[2019-10-09 12:08] dubesar opened #57 "Add Polymorphism to oops"
Add Polymorphism concept in oops with proper guidelines mentioned for oops section.

[2019-10-09 12:09] dubesar opened #58 "Update Readme"
Add oops section for readme with proper markdown.

[2019-10-09 12:13] dubesar opened #59 "Add Treeset in Java"
Add treeset example in Java and remember to comment with proper explanation.

[2019-10-09 12:44] NachiketaVadera commented on #59
# TreeSet Example Done

* Added Pull Request for the example with comments.

[2019-10-09 12:47] #59 closed

[2019-10-09 12:50] #57 closed

[2019-10-09 14:46] julcaesar commented on #56
@dubesar may i work on this?

[2019-10-09 14:56] #56 closed

[2019-10-09 14:57] #58 closed

[2019-10-09 16:23] dubesar opened #65 "Add hashset in Java"
Add HashSet in Java Collections with example and comment it properly.

[2019-10-09 17:15] NachiketaVadera commented on #65
Hey, I'd like to add the HashSet program.

[2019-10-09 18:21] #65 closed

[2019-10-09 18:44] dubesar opened #68 "Implemenation of 2d Array in Java"
Add implementation of 2d Array in Java using ArrayList and properly comment on the code.

[2019-10-09 19:39] SONUKUMARSAW commented on #68
I would like to do this. Could You please assign it to me

[2019-10-10 01:41] #68 closed

[2019-10-10 13:17] dubesar opened #71 "Add traversals for tree in Java"
Add inorder, preorder and postorder traversals and comment properly.

[2019-10-10 13:19] dubesar opened #72 "Add min heap and max heap"
Add min heap and max heap implementation in Java and comment properly in code.

[2019-10-10 13:20] dubesar opened #74 "Add heapsort"
Add heapsort implementation in Java. Also write if any inbuilt functions are present. Comment the code properly.

[2019-10-10 13:28] dubesar opened #75 "Java in Networking (Socket Programming)"
Create a Networking folder and add documentation of Socket programming with proper markdown and also give example in documentation in form of code.

Also comment the codes well and write the documentation properly.

[2019-10-10 13:40] #74 closed

[2019-10-10 17:12] dipu989 commented on #71
@dubesar  I would like to add the solution. Please assign this to me.

[2019-10-10 17:22] lunodesouza commented on #75
Let's me help you with this!

[2019-10-11 00:24] #75 closed

[2019-10-11 06:37] kolosovser commented on #72
I'm ready to do it

[2019-10-11 16:50] #72 closed

[2019-10-12 19:02] #71 closed

[2019-10-12 19:04] dubesar opened #86 "Add Euler Totient Function"
Make a new math folder and add code to the totient of a natural number and comment on the code properly.

[2019-10-12 19:10] dubesar opened #87 "Add fastest way to compute number of divisors of a number."
Add code to compute the number of divisors of a number and add the comments properly.

[2019-10-12 19:21] dubesar opened #88 "Update README"
Update readme with all the new updates in the repository and follow the markdown in the readme

[2019-10-12 19:27] rajnis09 commented on #87
i would like to solve this. Assign it to me.

[2019-10-12 19:49] mpeiffer commented on #86
Hello! I'm new to GitHub and I would love to contribute to this project. I've written the code to calculate Euler Totients in Python before, but I actually prefer to write in Java so I think that I could help out with this. Would it be alright if I took on this issue?

[2019-10-12 19:51] dubesar commented on #87
@rajnis09  go for it.

[2019-10-12 19:52] dubesar commented on #86
@mpeiffer go for it

[2019-10-12 19:55] tejasvisoi commented on #88
I can do this

[2019-10-13 03:13] #86 closed

[2019-10-13 15:25] dubesar opened #94 "Calculate nth prime number"
Add all the possible methods to calculate nth prime number. Comment the code properly.

[2019-10-13 16:03] dubesar opened #97 "Add implementation of Trie in Java"
Add implementation of Trie in Java using one example of a dictionary-based graph and comment on the code properly.

[2019-10-13 16:06] #87 closed

[2019-10-13 16:11] dubesar opened #98 "Add coin change in Java."
Add implementation of coin change in Java and create a separate folder for Dynamic Programming. Comment the code properly and explain the code in the form of comments.

[2019-10-13 16:13] dubesar opened #99 "Add edit distance in Java."
Add implementation of edit distance in Java and comment the code properly. Add your code in Dynamic Programming folder if present else create the Dynamic Programming folder.

[2019-10-13 16:14] dubesar opened #100 "Add climbing stairs problem in DP"
Add implementation of climbing stairs in Java and comment the code properly. Add your code in Dynamic Programming folder if present else create the Dynamic Programming folder.

[2019-10-13 16:23] adavijit commented on #100
please assign it to me

[2019-10-13 16:33] dubesar commented on #100
@adavijit  go for it!!

[2019-10-13 16:53] SpasZahariev commented on #98
I can provide a simple java implementation

[2019-10-13 16:59] iishyfishyy commented on #97
Hi @dubesar, I'd like to help out with this one!

[2019-10-13 17:11] #94 closed

[2019-10-13 17:11] adavijit commented on #98
please assign this to me

[2019-10-13 17:12] #100 closed

[2019-10-13 17:13] dubesar commented on #97
@iishyfishyy  go for it!!

[2019-10-13 17:13] dubesar commented on #98
@SpasZahariev  go for it!!

[2019-10-13 17:14] LucasOe commented on #99
I would like to work on this.

[2019-10-13 17:20] adavijit commented on #100
Hey @dubesar  sent PR! please check!

[2019-10-13 17:27] adavijit commented on #100
@dubesar please check #100(closed)

[2019-10-13 17:40] roushansingh96 commented on #99
I would like to work on Edit Distance in Java.

[2019-10-13 17:50] iishyfishyy commented on #97
Created [PR](https://github.com/dubesar/CompetitiveJava/pull/109).

[2019-10-13 18:26] #99 closed

[2019-10-13 18:27] #98 closed

[2019-10-13 18:31] #97 closed

[2019-10-14 08:07] sahaj-singh commented on #88
I would like to contribute.

[2019-10-14 08:36] dubesar opened #114 "Add LCS in Dyanamic Programming"
Add code for LCS in dynamic programming and explain the code using comments.

[2019-10-14 08:36] #114 closed

[2019-10-14 08:39] dubesar opened #115 "Add LIS in Dynamic Programming"
Add LIS code in Dynamic Programming and explain the code using comments.

[2019-10-14 08:43] adavijit commented on #115
Can I go for it?

[2019-10-14 08:43] dubesar commented on #88
@sahaj-singh  this issue is always open. As the repo updates, this should be updated as well.

[2019-10-14 08:45] dubesar opened #116 "Add subset sum problem in Java"
Add subset problem using Dynamic Programming and comment the code properly.

[2019-10-14 09:02] Gaurav258258 commented on #116
class GFG {

    static boolean isSubsetSum(int set[], int n, int sum)
    {
        boolean subset[][] = new boolean[sum + 1][n + 1];
        for (int i = 0; i <= n; i++)
            subset[0][i] = true;
        for (int i = 1; i <= sum; i++)
            subset[i][0] = false;
        for (int i = 1; i <= sum; i++) {
            for (int j = 1; j <= n; j++) {
                subset[i][j] = subset[

[2019-10-14 09:34] Sequner commented on #116
Let me take it

[2019-10-14 13:29] mohitg55555 opened #121 "Optimization in processing speed"
For making calculations of O(n^2) to O(n) sliding window algo. can be used

[2019-10-14 13:53] 97hknl commented on #116
I would love to work on it

[2019-10-15 09:33] dubesar opened #128 "0-1 Knapsack problem"
Implement 0-1 Knapsack problem in Java and comment the code properly.

[2019-10-15 09:34] dubesar opened #129 "Weighted Job Scheduling in Java"
Implement Weighted Job Scheduling and comment on the code properly by giving examples.

[2019-10-15 09:35] dubesar opened #130 "Matrix Chain Multiplication."
Matrix chain multiplication in Java and comment on the code giving examples.

[2019-10-15 09:39] honeytalreja commented on #128
I am Implementing it, will make a PR soon

[2019-10-15 12:17] rusyasoft commented on #115
check my PR https://github.com/dubesar/CompetitiveJava/pull/133

[2019-10-15 13:45] ali3654 commented on #128
I'll implement it too. When I'm done, I'll do a PR.

[2019-10-15 14:48] sourabhvarshney111 opened #135 "Primality Tests for Prime Number"

[2019-10-15 15:25] Konsicrafter commented on #135
I would like to take care of this issue - what exactly is the problem? Is the Primality-Test in a specific class missing, or is it not implemented at all?

[2019-10-15 15:35] jag-singh-96 commented on #116
I will also do  it in proper way

[2019-10-15 15:41] sourabhvarshney111 commented on #135
The issue is to add primality tests for checking number is prime or not in the repo. Refer https://www.hackerearth.com/practice/math/number-theory/primality-tests/tutorial/ this for details.

[2019-10-15 16:30] Konsicrafter commented on #135
This issue has been implemented in my Pull request

[2019-10-15 18:12] #115 closed

[2019-10-15 18:14] #135 closed

[2019-10-15 20:51] HuskyNator commented on #130
I'd like to be assigned to this issue :)

[2019-10-16 13:21] #129 closed

[2019-10-16 13:23] #128 closed

[2019-10-16 16:07] #130 closed

[2019-10-16 16:08] #116 closed

[2019-10-17 07:51] dubesar opened #151 "Logistic regression using JAVA"
Add a Machine learning folder and then code for logistic regression and comment the code properly

[2019-10-17 10:15] Rahulb7 commented on #151
Please review [this_code](https://github.com/dubesar/CompetitiveJava/pull/152) and let me know 👍

[2019-10-17 18:34] Anubhav007 commented on #121
Could you please elaborate the issue

[2019-10-18 20:09] SONUKUMARSAW commented on #121
Please do assign me, i can implement that sliding window problem

[2019-10-19 06:46] #151 closed

[2019-10-19 06:47] dubesar opened #155 "Add Linear regeression"
Add code for linear regression and comment on it properly.

[2019-10-19 06:54] dhirajnie commented on #155
I will work on it

[2019-10-19 07:05] kirii009 commented on #155
I would like to contribute

[2019-10-20 14:09] #155 closed

[2019-10-20 14:10] #88 closed

[2019-10-20 14:10] #22 closed

[2019-10-20 14:11] #121 closed

[2019-10-20 14:12] dubesar opened #163 "Update Readme"
Update Readme according to the present format with all the present stuffs in the code base.
Properly mention each and every algorithms newly added.

[2019-10-20 14:15] dubesar opened #164 "Secure Random methods in Java"
Make a security folder and explain the secure Random methods in the form .md file and also embed relevant code and explain it properly.

[2019-10-20 14:16] dubesar opened #165 "Signature methods in Java"
Add Signature methods in security folder and explain the concept properly and also embed relevant codes and also explain it briefly.

[2019-10-20 14:18] dubesar opened #166 "Keypair generator methods in Java security"
Explain Keypair methods and embed relevant codes and also explain it properly.

[2019-10-21 16:59] apsychogirl commented on #163
Hi, Can you please lemme know what new algorithms are to be added which isn't mentioned in the readme yet. I would like to work on it:)
@dubesar

[2019-10-21 19:32] dubesar opened #169 "Add Nqueens in Java"
Add Nqueen implementation in Java and explain the code properly.

[2019-10-22 02:50] #169 closed

[2019-10-23 21:31] kpencak commented on #164
I would like to try to do this :)

[2019-10-25 03:45] #166 closed

[2019-10-25 21:45] Metalshad0w commented on #164
@kpencak, are you doing this? If not, i like to do.

[2019-10-26 02:06] #165 closed

[2019-10-26 14:00] kpencak commented on #164
@Metalshad0w Yeah, I'm currently finishing that. I would make a PR later today

[2019-10-27 04:00] dubesar opened #191 "Add useful links to Dynamic Programming"
Add some useful links to dynamic programming in dynamic programming folder. Maybe it can be links to medium articles or gfg articles or from somewhere else. Mention all the links in the form of .md file and follow markup format.

[2019-10-27 05:19] wwk3j commented on #191
I'll take this!

[2019-10-27 18:25] dubesar opened #204 "Update resources.md in Dynamic programming"
Add new links in the resources.md file and useful resources from different medium articles or any other sources.

[2019-10-27 18:25] #191 closed

[2019-10-28 03:46] #204 closed

[2019-10-28 03:49] dubesar opened #206 "Add more useful links in resources.md in DP"
Add some more useful links in resources for Dynamic programming. Maybe it is a tutorial to DP or some useful tricks.

[2019-10-28 03:51] dubesar opened #207 "Make readme uniform."
Improve readme as some section is not in the form that is required like Machine learning etc.

[2019-10-30 00:05] thiago-h commented on #206
I will contribute to it

[2019-12-17 08:06] dubesar opened #227 "Add a simple Neural Network of single hidden layer from Scatch"
Add a single hidden layer neural network.

[2019-12-17 08:14] dubesar opened #228 "Add a L layer neural network using Java"
Add an L layer neural network writing a custom backpropagation code.

[2020-05-17 15:09] sudipbhandari126 opened #230 "Add question and details as comments inside each solution"
You have a great resource.
But adding question details, and examples as comments in each solution would be immensely more valuable. (I guess this would also help you when you revisit them months/years later) :)

[2020-05-18 17:47] dubesar commented on #230
Sure, I will be doing it. It's hard to maintain this repository on my own!!

[2020-08-28 03:23] dubesar opened #231 "Add Minimum Partition problem solution to the Dynamic Programming Section."
Minimum Partition Problem is a standard DP problem and it requires you to find the minimum difference between two subets that you can create within it.

[2020-09-01 06:20] albertjt commented on #231
Kindly review https://github.com/dubesar/CompetitiveJava/pull/232
Thank you

[2020-09-01 06:31] #231 closed

[2020-09-01 06:35] dubesar opened #233 "Add Word Break Problem solution to the Dynamic Programming section"
Add Word Break Problem Solution :

Problem Statement:

Given an input string and a dictionary of words, find out if the input string can be segmented into a space-separated sequence of dictionary words.

[2020-09-01 07:09] albertjt commented on #233
Kindly review this PR https://github.com/dubesar/CompetitiveJava/pull/234
Thank you

[2020-09-12 04:06] #233 closed

[2020-09-12 05:55] dubesar opened #235 "Add shortest common supersequence ( see the problem statement in the description )"
Given two strings str1 and str2, find the shortest string that has both str1 and str2 as subsequences.

Ex:
str1 = AGTBACTB str2 = ACGTABACBTB;
ans: ACGTABACTB;

str1 = geek str2 = eke
ans: geeke

[2020-09-12 06:00] dubesar opened #236 "Dice Throw Problem ( DP problem ) - See the problem statement below"
Given n dice each with m faces, numbered from 1 to m, find the number of ways to get sum X. X is the summation of values on each face when all the dice are thrown.

[2020-09-12 06:12] dubesar opened #237 "Implementation of Multiple inheritance in Java"
Java doesn't support multiple inheritance and needs to use interfaces, please commit the code under OOPs section of the repository.

[2020-09-13 05:24] dubesar opened #238 "Add readme related to Interfaces."
Add everything one should know regarding Interfaces, right from the implementation to the theory.

[2020-09-19 10:28] nimrody commented on #164
@dubesar - issue should be closed as the requested document exists [here](https://github.com/dubesar/CompetitiveJava/tree/master/Security/SecureRandom)

[2020-09-21 11:16] UtkarshChaurasia commented on #236
Hi! I would like to work on this!!

[2020-09-22 18:43] dubesar commented on #236
Yes you are free to take up the issue!

[2020-09-25 08:35] arshita129 commented on #238
I will like to work on this.

[2020-09-25 20:24] dubesar commented on #238
You can work on it

[2020-09-25 20:25] #237 closed

[2020-09-25 20:38] dubesar opened #242 "Add simple Dice Rolling Game App in the Android App Section"
Use Java to make an Android app to play the game with the dice rolling app.

Requirements for the App:

1. Minimal UI
2. Should throw out random numbers on click to the image button of Dice.

Requirements for Submission:- Make a proper readme for the app explaining all the concepts required to learn for the app, put appropriate links in the readme for all the documentation used for building the ap

[2020-09-25 20:49] dubesar opened #243 "Add a Countdown Timer App for the android projects"
Requirements for the app:-

1. Minimal UI
2. The countdown time should be asked from the user or it should have user input.
3. The app should contain intents and not a single-page app.

Requirements for Readme:

1. Concepts Learned
2. How the official documentation is used for the building the app
3. Tutorials you referred and your suggestions for improvement in the app.

[2020-09-25 20:55] dubesar opened #244 "Meme sharing App for Android Projects"
Requirements for the projects:-

1. Minimal UI
2. Should be able to fetch API data from any meme API
3. Should be able to share it from the app through external intent
4. Should dynamically reload when fetching the next meme in the app

Requirements for Readme:-

1. Concepts Learned
2. The concept of Asynchronous Behaviour in Java
3. Official Usage of Documentation
4. Suggestion for improvement in

[2020-09-25 20:58] dubesar opened #245 "Java Manipulators ( OOPs section)"
Add in example for Java manipulators and explain the concept of manipulators.

[2020-09-26 01:40] dinitrogen-tetroxide commented on #245
I would like to try to work on this.

[2020-09-26 01:53] #164 closed

[2020-09-26 07:46] kunal299 commented on #244
Hi, I am interested in doing this project. Can I start with this project?

[2020-09-26 08:32] dubesar commented on #244
Yes you can start it

[2020-09-26 08:38] kunal299 commented on #244
is it ok if I send you a pull request on 1st October as the Hacktober fest is starting?

[2020-09-26 08:41] kunal299 commented on #243
I would also like to work on this issue.

[2020-09-26 08:44] kunal299 commented on #242
Can I also start with this issue?

[2020-09-26 08:45] dubesar commented on #242
Ok go ahead

[2020-09-26 08:45] dubesar commented on #243
Ok go ahead

[2020-09-26 09:14] kunal299 commented on #235
I am interested in this issue.

[2020-09-26 09:31] bharati-21 commented on #243
@kunal299 will you be working on this issue? If not, I am interested as well! :D
Asking since this issue has not been assigned yet!

[2020-09-26 12:43] dubesar commented on #243
@bharati-21 you can work on other issues, there will be lots of addition to this repository.

[2020-09-26 12:47] dubesar opened #246 "Android Weather App"
Requirements for the App:-

1. Minimal UI
2. Should be fetching any API and displaying the data
3. The major focus should be on scaling this app
4. Location should be accessed by using the permissions in Android

Requirements for the README:-
1. All the concepts learned
2. How you used the official documentation of the android
3. Other resources you used
4. Your views on the app for scaling furthe

[2020-09-26 12:49] dubesar commented on #245
@dinitrogen-tetroxide, please update whenever you are done, and please have some time constraints for the task.

[2020-09-26 12:50] shivamag00 commented on #246
I'm interested in developing this app

[2020-09-26 12:52] kunal299 commented on #243
@bharati-21 yes, I am working on it. As I have registered for the hactober fest, I will do the pull request in the first week of October.

[2020-09-26 12:55] bharati-21 commented on #243
Okay @kunal299! Happy Hacktoberfest!

[2020-09-26 12:55] bharati-21 commented on #243
@dubesar Kindly do tag me if you open another issue!
Thank you. :D

[2020-09-26 13:11] kunal299 commented on #243
Hey, Is it allowed to clone the project before 1st October in the hactober fest? Will the project be included?

[2020-09-26 13:34] dubesar commented on #246
@shivamag00 please go ahead with the project!

[2020-09-26 13:40] dubesar opened #247 "Android Notepad App"
Requirements for the app:-
1. User can create a note
2. User can edit a note
3. User can delete a note
4. When closing the browser window the notes will be stored and when the User returns, the data will be retrieved.

Requirements for the README:-
1. All the concepts learned
2. Try to use Room Database
3. Official Documentation usage
4. further improvements in the app.

Kindly attach all the Asse

[2020-09-26 13:45] kunal299 commented on #247
I will make this project.

[2020-09-26 13:46] kunal299 commented on #247
@dubesar  Can I talk to you personally through any other medium.

[2020-09-26 13:54] dubesar commented on #247
@kunal299 you can contact me through dubeysarvesh5525@gmail.com

[2020-09-26 14:03] dubesar commented on #247
This issue is open and will be accepted on a first come first serve basis, Thanks for contributing!!

[2020-09-26 16:59] dinitrogen-tetroxide commented on #245
I will. I should be done with it in 4 days.

[2020-09-26 19:09] debangeedas commented on #246
Hey! I would like to give a shot at this! Can I still try, as I already see an interested developer?

[2020-09-27 06:36] dubesar opened #248 "Recipe Android App"
Requirements for the app:-

1. Minimal UI
2. User can see a list of recipe titles
3. User can click a recipe title to display a recipe card containing the recipe title, meal-type (breakfast, lunch, supper, or snack), a number of people it serves, its difficulty level (beginner, intermediate, advanced), the list of ingredients (including their amounts), and the preparation steps.
4. User clicks a n

[2020-09-27 06:56] bharati-21 commented on #248
@dubesar I would like to work on this! Thank you!
Please do inform me if there is a deadline.

[2020-09-27 07:22] dubesar commented on #248
@bharati-21 please go ahead with the task

[2020-09-27 07:55] dubesar opened #249 "StopWatch Timer Android App"
Requirements for the App:-

1. User can start a clock
2. User can stop the clock
3. When the clock is stopped the user can click start again and the clock will continue counting up
4. User can restart the clock
5. User can create laps - these will be displayed on the screen
6. User can clear all the laps

Requirements for README:-

1. Concepts learned
2. Official documentation use
3. Future prospe

[2020-09-27 08:51] Dimple12468 commented on #248
@dubesar can you share the github repository link?

[2020-09-27 09:18] ayushtyagi01 commented on #244
Hi,can i work on this project.I am interested in doing this project.

[2020-09-27 09:28] ayushtyagi01 commented on #249
Hi,I would like to work on this project.

[2020-09-27 12:03] kunal299 commented on #242
Can I make this app in 2-d?

[2020-09-27 12:13] kunal299 commented on #242
I have one doubt, Do you require Dice Roller App or Dice Roller in a Game app.

[2020-09-27 13:03] dubesar commented on #248
The project should be inside the android projects folder.

[2020-09-28 07:05] mephi007 commented on #245
hey, I would like to contribute..

[2020-09-28 07:19] dinitrogen-tetroxide commented on #245
Not sure how that works. This is the first time I've worked on a PR.

[2020-09-28 18:13] animsh commented on #247
Sir, can I work.on this project for hacktoberfest2020?

[2020-09-28 18:17] animsh commented on #249
Hi sir, can you give me chance to wrk on this project?

[2020-09-28 20:08] shikhar8434 commented on #249
Hello sir, it seems a very interesting app , i would love contributing in it

[2020-09-28 20:15] shikhar8434 commented on #246
Hello sir , I have been working on some good android projects , I can provide good UI and extended features for the app i would like to contribute too

[2020-09-29 02:33] dubesar commented on #249
This will be a first-come-first-serve issue, will be preferred who does it as soon as possible.

[2020-09-29 02:34] dubesar commented on #247
@animsh As I said this will be first come first server project.

[2020-09-29 02:35] dubesar commented on #246
@shikhar8434 you can work but this issue will be accepting PRs on a first come first serve basis. So you can submit the PR as soon as possible.

[2020-09-29 02:40] dubesar opened #250 "Book Finder App (Database Management App)"
Requirements for the application:-

1. User can enter a search query into an input field
2. User can submit the query. This will call an API that will return an array of books with the corresponding data (Title, Author, Published Date, Picture, etc)
3. User can see the list of books appearing on the page

Requirements for the README:-

1. Concepts Learned.
2. Offical documentation use
3. Future as

[2020-09-29 02:42] dubesar commented on #235
@kunal299 are you done with this issue ?

[2020-09-29 02:56] shikhar8434 commented on #246
Okay sir , i will keep that in mind

[2020-09-29 03:14] dubesar opened #251 "Flashcard app"
Requirements for the application

1. User can see a single card, randomly picked from the "deck" displayed at any point in time
2. User can see a question on the card and a list of four possible answers, each of which is identified by a letter.
3. User can select an answer by clicking on it
4. User can see an error displayed when the wrong answer is selected
5. User can see a congratulations messa

[2020-09-29 03:31] dubesar opened #252 "Github Profiles App"
Requirements for the Application:-

1. User can enter a username
2. User can click on the search button to retrieve information
3. User can see the avatar, username, followers, and repository count of searched user
4. User can see the top 4 repositories of searched user
5. User should get an alert if the username is not valid

Requirements for README:-

1. Concepts Learned
2. Official documentatio

[2020-09-29 04:28] mephi007 commented on #252
Hey, I would be happy to contribute on this, can you please assign this to me?

[2020-09-29 04:38] mephi007 commented on #250
hey I would like to work on this. Can you please assign this to me?

[2020-09-29 04:41] ashishpatel16 commented on #252
I have made an exact same application which does all the functionalities you listed. I've used Retrofit for networking. I am highly interested to work on this. I'll be checking on this repo. Would love to contribute. Thanks :)

[2020-09-29 04:49] Drkstr commented on #251
Hi, this looks interesting.

The project is called "Java A-Z" does that mean this needs to be an Android application?

[2020-09-29 04:58] dubesar commented on #252
You are open to work on it, but there will be no assigns for this issue

[2020-09-29 04:59] dubesar commented on #251
@Drkstr yes its an android application.

[2020-09-29 04:59] dubesar commented on #250
@mephi007 you can work on it.

[2020-09-29 05:14] mephi007 commented on #252
Is this a android app? can I not make a spring boot app?

[2020-09-29 05:15] kunal299 commented on #235
@dubesar Yes, I am done with the issue but I have a doubt in the first example. The answer to the first example should be:-
ACGTABACBTB
I think the answer written by you has a mistake.

[2020-09-29 05:25] kunal299 commented on #244
@dubesar Sir, can you please help me a little? I am getting some compilation errors. I had mailed you with the files on 27 Sept.

[2020-09-29 05:28] dubesar commented on #252
@mephi007 it has to be an android app

[2020-09-29 05:41] mephi007 commented on #252
Sorry I was not able to figure it out, that it is a anroid app.

[2020-09-29 05:46] dubesar commented on #244
@kunal299 can you join the discord server and paste in the problems there.

[2020-09-29 05:53] kunal299 commented on #244
Can you share the link for joining the server?

[2020-09-29 13:27] kunal299 commented on #247
Should the UI of the app be minimal?

[2020-09-29 13:33] kunal299 commented on #243
What type of intents should it contain?

[2020-09-29 16:03] ashishpatel16 commented on #252
Sir do review my pull request. I did not push the readme there, but I'm linking a screen recorded video of the app [here](https://drive.google.com/file/d/1Kcq5PiBMNutJp5oPnPZo_wDIHoTCDNUP/view?usp=sharing).

Also, I'll be fixing bugs and UI improvements like handling the Landscape orientation, etc. Thankyou!

[2020-09-29 23:27] adizcode commented on #247
Hi. I'd like to work on this.

Is the entire app to be submitted in one go, or can we work on parts of it?

[2020-09-30 00:57] kunal299 commented on #247
@adizcode I am doing this project.

[2020-09-30 14:29] rahullli commented on #251
I would like to work on this issue .

[2020-09-30 14:55] #252 closed

[2020-09-30 15:02] dubesar commented on #251
@rahullli you can work on it

[2020-09-30 15:22] dubesar opened #256 "Password Generator App"
Requirements for the Application:-

1. User can select the length of the generated password
2. User can select one or multiple of the following: Include uppercase letters, Include lowercase letters, Include numbers, Include symbols
3. By clicking the Generate password button, the user can see a password being generated
4. User can click a Copy to clipboard button which will save the password to th

[2020-09-30 15:29] rahullli commented on #256
I would like to work on this issue .

[2020-09-30 15:50] iayushguptaaa commented on #251
Hey @dubesar  I would like to work on this app.

[2020-09-30 16:15] niranjanneeru commented on #256
I would like to solve this

[2020-09-30 16:31] charchithere commented on #250
hello! I would Like to Work on this for Hactoberfest.

[2020-09-30 16:37] adizcode commented on #247
@kunal299 Okay. If you choose not to do it, please tag me here.

[2020-09-30 16:37] kunal299 commented on #235
In which directory should I create this file.

[2020-09-30 17:07] charchithere commented on #256
I would Like to Work on this Issue

[2020-09-30 17:07] shivamag00 commented on #246
@dubesar Sir, please review my PR. I have also documented the development process of this app in README of the WeatherApp folder. I hope it fulfills all the requirements. And, Thank you for giving this opportunity!!!

[2020-09-30 17:45] Ishita-0112 commented on #235
I am done with this issue. Can you please assign me this. I would love to contribute the code for the same.

[2020-09-30 17:48] ricksaha2000 opened #258 "Longest Palindromic Subsequence - Dynamic Programming"
Given a string s, find the longest palindromic subsequence's length in s. You may assume that the maximum length of s is 1000.

Example 1:
Input:
"bbbab"

Output:
4

[2020-09-30 17:49] ricksaha2000 commented on #258
Can I be assigned this issue sir, as it can be a stellar addition to Dynamic Programming Folder.

[2020-09-30 17:53] kunal299 commented on #235
@Ishita-0112 I am assigned to this project first.

[2020-09-30 18:08] Ishita-0112 commented on #235
I understand. But is this issue closed? And are you done with the requirement?

[2020-09-30 18:12] dubesar commented on #258
@ricksaha2000 you can take it up

[2020-09-30 18:17] dubesar commented on #256
This issue will be open and will accept the first PR recieved according to the guidelines.

[2020-09-30 18:21] Keenal commented on #207
I would like to work on this for Hacktoberfest.

[2020-09-30 18:23] Keenal commented on #206
I can work on this, if it's still needed!

[2020-09-30 18:27] dubesar commented on #207
@Keenal Please do make the readme better, Also you can revamp the whole readme actually, currently the readme involves the concepts of DS Algo, but it is not needed, what you can do is just delete the whole readme and make a new one mentioning the current status of the entire repositories. Also use tables or so. Since this task will be much bigger, you can submit your PRs in small chunks so that y

[2020-09-30 18:28] dubesar commented on #206
@Keenal this section can grow as much as possible , any input for this will be much more appreciated.

[2020-09-30 18:30] Ishita-0112 opened #259 "Shortest Common Supersequence"
**Problem Statement:**
 Find out the length of shortest common super-sequence given two strings as input.

**Input:**
 a = "geek"
 b = "eke"

**Output:**
5

**Explanation:**
"geeke" is the shortest common supersequence.

[2020-09-30 18:31] Keenal commented on #258
Can I work on this for Hacktoberfest? Would the pull request work based on FCFS?

[2020-09-30 18:31] Ishita-0112 commented on #259
I would love to contribute to this issue sir, considering it to be an important Dynamic Programing problem. If you would kindly assign me to this issue. Thank you.

[2020-09-30 18:35] dubesar commented on #258
@Keenal this is a assgined issue.

[2020-09-30 18:43] Keenal commented on #207
Alright, I can work on this!

[2020-09-30 18:55] dubesar commented on #207
@Keenal great!! Please let me know how you will be proceeding and what will the new readme look like

[2020-09-30 18:57] Keenal commented on #207
I have started working on it and I am taking a look at the repo currently. When you say you would like to have a status of the entire repository, what exactly do you mean? What kind of information am I adding besides each directory? Is it the number of open issues? I am thinking of making a table with 17 rows, each row represents a folder that you have created. I will assign this row with a status

[2020-09-30 18:59] dubesar commented on #259
@Ishita-0112 this seems to be a duplicate issue, can you mention the same on the previously opened issue, and the great part of this repository that it will accept new issues that require attention, feel free to open issues and you will be assigned on that to complete it. But be sure that it is not currently present in the repository

[2020-09-30 19:01] dubesar commented on #207
The status means let say datastructures or algorithms section or DP section so what all things are currently in the repository. And now we have Android part so what all projects have been added.

[2020-09-30 19:02] #259 closed

[2020-09-30 19:08] #235 closed

[2020-09-30 19:16] dubesar opened #264 "ToDo Android Application"
Requirements for the application:-

1. User can see an input field where he can type in a to-do item
2. By pressing enter (or a button), the User can submit the to-do item and can see that being added to a list of to-do's
3. User can mark a to-do as completed
4. User can remove a to-do item by pressing on a button (or on the to-do item itself)

Requirements for README:-

1. Concepts Learned
2. Off

[2020-09-30 19:22] adizcode commented on #264
Hi. I'd like to work on this. How may I contact you, when in doubt?

[2020-09-30 19:22] #238 closed

[2020-09-30 19:29] dubesar commented on #264
@adizcode you can go ahead. You can contact me through linkedin or mail id: dubeysarvesh5525@gmail.com

[2020-09-30 19:52] priyansh-jain10 commented on #264
Hey I would like to contribute can you assign it to me?

[2020-09-30 19:57] Keenal commented on #207
I see! Okay, I'll try to do that, thanks!

[2020-09-30 20:07] Ishita-0112 opened #270 "Naive Bayes and SVM in Machine Learning using Java"

[2020-09-30 20:08] Ishita-0112 commented on #270
I would love to contribute to this issue if assigned, both being important ML algorithms. Thank you.

[2020-09-30 20:24] dubesar commented on #270
@Ishita-0112 please go ahead and contribute!!

[2020-09-30 20:33] Ishita-0112 commented on #270
Thank you sir. Looking forward to contribute more.

[2020-09-30 20:35] ricksaha2000 commented on #258
Thank you for assigning sir.

[2020-09-30 20:38] Anu-123-gif commented on #264
Hi, I am interested in this issue is it still up for grabs?

[2020-09-30 20:39] charchithere commented on #264
Hey! I want to work on this.

[2020-09-30 20:41] developershutt commented on #256
@dubesar decision of making PR opened on the basis of first come first merge is awesome

[2020-09-30 20:48] #242 closed

[2020-09-30 20:52] adizcode commented on #264
Thank you. I'm on it.

[2020-09-30 21:15] dinitrogen-tetroxide commented on #245
I've finished the file. I mentioned this issue in my pull request.

[2020-10-01 00:27] developershutt commented on #256
I've done this at #279

[2020-10-01 04:44] #256 closed

[2020-10-01 04:45] #245 closed

[2020-10-01 04:48] #246 closed

[2020-10-01 05:00] dev-abir opened #283 "add some examples for functional programming in JAVA"
This repository is missing some examples for functional programming in JAVA, we should add that. (I can too)

[2020-10-01 05:07] #244 closed

[2020-10-01 05:10] dubesar commented on #283
@dev-abir great. Can you commit something for this?

[2020-10-01 05:20] #243 closed

[2020-10-01 05:25] dubesar opened #286 "Constructors and Destructors README | OOPs section"
- A constructor is a method used to initialize the state of an object, and it gets invoked at the time of object creation. Rules for constructor are:
    - Constructor Name should be the same as a class name.
    - A constructor must have no return type.

- A destructor is a method which is automatically called when the object is made of scope or destroyed. Destructor name is also same as class na

[2020-10-01 05:38] dubesar opened #287 "Inline, Virtual, Friend Functions README | OOPs Section."
Please follow the OOPs section commits and add in seperate Readme for each of functions and also proper readme with code implementation.

[ x ] Inline Function
[ x ] Virtual Function
[ x ] Friend Function

[2020-10-01 05:39] dev-abir commented on #283
yeah sure

[2020-10-01 05:39] dubesar commented on #247
@kunal299 are you up for this project?

[2020-10-01 05:47] dev-abir commented on #286
I can do this

[2020-10-01 05:54] dev-abir commented on #286
JAVA, python has simple, single constructors, whereas c++ has around 6 constructors. Just c++ has destructors.

How to structure this topic?

[2020-10-01 05:57] dev-abir commented on #286
assign it to me, I will add a PR for destructors

[2020-10-01 06:18] dev-abir commented on #286
please accept my PR

[2020-10-01 06:27] dev-abir commented on #286
someone has already contributed to JAVA constructors...

[2020-10-01 07:26] NyorJa commented on #250
I would to contribute on this

[2020-10-01 08:00] kunal299 commented on #247
A little bit is left, I will create the pull request tonight.

[2020-10-01 09:10] bharati-21 commented on #248
@dubesar is it fine if I submit this issue before 10th October?
Thank you!

[2020-10-01 10:54] abhisht51 commented on #287
Can you elaborate on this ?

[2020-10-01 11:33] subho2107 opened #294 "Fenwick tree implementation"
Can i add fenwick tree implementation?

[2020-10-01 14:04] kunal299 opened #296 "Add DiceRoller App with updated README.md(The way I made the app on Android Studio)"

[2020-10-01 14:04] kunal299 commented on #296
I am adding DiceRoller App with updated README.md(The way I made the app on Android Studio)

[2020-10-01 14:06] kunal299 commented on #296
@dubesar I will create the PR for the whole app as it is not present in the Android Projects section.

[2020-10-01 14:32] dubesar commented on #294
@subho2107  can you push a commit for this, so that I can assign it to you

[2020-10-01 14:34] dubesar commented on #296
@kunal299 sure go ahead

[2020-10-01 15:12] kunal299 commented on #296
@dubesar  I am creating a pull request. Please check the app.

[2020-10-01 17:05] Kadivendi commented on #236
Is this issue open can I pick this one?

[2020-10-01 17:09] Kadivendi commented on #206
I have some more suggestions for good resources. Can I pick this?

[2020-10-01 17:53] #296 closed

[2020-10-01 18:22] kunal299 commented on #247
@dubesar Hey, Can I create pr tomorrow? I am not able to complete the project today.

[2020-10-01 18:35] dubesar commented on #247
@kunal299 sure but do it as soon as possible.

[2020-10-01 19:30] xloli20 commented on #247
oh! sorry, @kunal299 I didn't see that you're working on this issue. I started working on it since it first opened and I didn't comment that I'll work on it :\

[2020-10-02 04:07] kunal299 commented on #247
@xloli20 This is wrong, it's a must to write a comment and then start the project. The project is given on a first come first serve basis. I have also completed the project.

[2020-10-02 04:10] dubesar commented on #247
@kunal299 you can also make a pull request, no worries we can have two similar projects but ensure that they come under same folder.

[2020-10-02 04:13] dubesar commented on #247
@kunal299 can you add more android projects in the issues tab and make some of them also If possible let it be assigned to someone, Actually I have a little less time under my belt so that you can maintain the repo for now. Please contact me over email so that I can guide you regarding this

[2020-10-02 04:25] kunal299 commented on #247
It's fine with one project, I saw his project but I found one issue that when we make the note and write the description in the note and then we save it. When we open the note that we wrote, the description is saved as same as the title.

[2020-10-02 04:29] kunal299 commented on #247
Sure, I will maintain the repo and add as many Android Projects as I can.

[2020-10-02 04:34] kunal299 commented on #247
@xloli20  Please fix the issue that I mentioned above in the comments and make a pull request again. By the way, You have made the readme file awesome.

[2020-10-02 04:52] shubhamprk175 commented on #287
I would like to contribute to this issue. You can assign it to me.

[2020-10-02 04:56] kunal299 commented on #247
How can I add it under the same folder as I have created the fork of your repo earlier?

[2020-10-02 04:56] subho2107 commented on #294
@dubesar like do I push the commit and create a pull request?

[2020-10-02 05:12] dubesar commented on #247
Pull all the changes in the repo and the commit

On Fri, 2 Oct 2020, 10:26 Kunal Mali, <notifications@github.com> wrote:

[2020-10-02 05:13] dubesar commented on #294
Yes you can create a pull request

On Fri, 2 Oct 2020, 10:26 Tirthankar Bhattacharya, <notifications@github.com>
wrote:

[2020-10-02 05:18] kunal299 commented on #247
Do I have to create the file named "Android Notepad App 1" in the android projects?

[2020-10-02 06:12] subho2107 commented on #294
@dubesar i have created a pull request please check

[2020-10-02 11:29] kunal299 commented on #247
@xloli20  Are you working on the issue of the note not being saved properly when we go to edit the file. The title is copied to the description when we open the note again.

[2020-10-02 11:57] kunal299 opened #311 "Quiz App"
**Requirements for the app:-**

-  User can start the quiz by pressing a button
- User can see a question with 4 possible answers
- After selecting an answer, display the next question to the User. Do this until the quiz is finished
- At the end, the User can see the following statistics:
            The time it took to finish the quiz
            A message showing if he passed or failed the quiz

[2020-10-02 12:37] KarlssonLucas commented on #311
I could do it in JavaFX. You wan to assign the issue to me? And in which folder do you want me to push it?

[2020-10-02 12:55] kunal299 commented on #311
It's fine, you can start with the project. You have to push it in Android
Projects Directory. Just comment once so that I can assign you.

On Fri, Oct 2, 2020 at 6:07 PM Lucas Karlsson <notifications@github.com>
wrote:

[2020-10-02 13:25] zawad2221 commented on #250
@dubesar I have worked on this issue and already created a PR. Please review it.

[2020-10-02 14:37] #294 closed

[2020-10-02 19:08] shikhar8434 commented on #311
hello sir i have previously worked on a quiz app can you assign it to me?

[2020-10-02 20:05] xloli20 commented on #247
@kunal299 oh! thanks for pointing that out. it was a simple mistake, I will PR now!

[2020-10-02 20:30] #250 closed

[2020-10-03 02:31] kunal299 commented on #311
@shikhar8434 You can start with the project.

[2020-10-03 03:07] #247 closed

[2020-10-03 03:09] kunal299 commented on #248
@bharati-21 Try to do it as earlier as you can.

[2020-10-03 03:24] kunal299 commented on #251
Is Anyone done with this project?

[2020-10-03 03:26] kunal299 commented on #249
Has anyone completed this project?

[2020-10-03 05:36] kunal299 opened #317 "Add Voting App in Android Projects"
**Requirements for the App:-**

- User can see a list of items he can vote on
- These items must have a button that the user can click on to vote
- After the user clicked a button, the user should see all the votes

**Requirements for the README.md file**

- Concepts Learned
- Official Use of the Android Document
- Future Aspects of the app

[2020-10-03 05:42] shikhar8434 commented on #249
Will update soon sir

[2020-10-03 05:46] kunal299 commented on #249
@shikhar8434 Ok

[2020-10-03 08:25] shikhar8434 commented on #249
I have sent the pull request sir

[2020-10-03 14:40] kunal299 opened #319 "Birthday Wish App"
**Requirements for the app:-**

- Users should be able to input the name of the person whom he wants to wish.
- When the user clicks on to create Birthday Card button, the app should print Happy Birthday with the name inputted with a background image(like cake).
- The app must be made in java.

**Requirements for the README.md file:-**

- Concepts learned
- Official Documentation Used
- Future Asp

[2020-10-03 16:55] shivanigupta19 commented on #319
hi , can i make this app in flutter so that i ll work for both android and ios ?

[2020-10-03 17:24] kunal299 commented on #319
@shivanigupta19 No, this app should be made in java only as this repo aims for java from A-Z.

[2020-10-03 18:09] kunal299 opened #320 "Currency Converter App"
**Requirement for the app:-**

- User can view a sorted list of available currencies and select the currency to convert from in a source drop-down list.
-  User can view a sorted list of available currencies and select the currency to convert to in a destination drop-down list.
-  User views the value (rounded to two decimal places) of the source amount converted to the destination currency in a s

[2020-10-03 18:19] kunal299 opened #321 "Drawing App"
**Requirements for the app:-**

- User can draw in a canvas
- User can change the color
- User can change the size of the tool
- User can press a button to clear the canvas

**Requirements for the README.md:-**

- Concepts used while making the app
- Future Aspects of the app
- Documentation and resources used while making an app

[2020-10-03 18:24] AlxGration commented on #319
i'd like to do this. assign me pls)

[2020-10-03 18:28] kunal299 commented on #319
@AlxGration You can start with this project.

[2020-10-03 18:31] at-rm commented on #320
Hey, this sounds interesting. I'd love to contribute. Would this be a mobile or desktop app?

[2020-10-03 18:32] ricardosmithco commented on #320
Me as well, this sounds cool. Where do I start?

[2020-10-03 18:38] kunal299 commented on #320
@at-rm It's an android mobile app.

[2020-10-03 18:41] at-rm commented on #320
Can you assign it to me? :) @kunal299

[2020-10-03 18:42] kunal299 commented on #320
@ricardosmithco This app must be made in java so you can start building this project on android studio?

[2020-10-03 18:42] kunal299 commented on #320
@at-rm First come first serve pull request

[2020-10-03 18:43] at-rm commented on #320
Alright, cool!

[2020-10-03 18:44] kunal299 commented on #320
Get started, All the best :)

[2020-10-03 18:45] kunal299 commented on #319
First come first serve pull request

[2020-10-03 18:47] ricardosmithco commented on #320
Okay, awesome. I've never used Android Studio before and I'm newbie so I will look up a quick tutorial and get started. Thanks.

[2020-10-03 18:50] kunal299 commented on #320
@ricardosmithco For Basics, you can also use this Documentation - https://developer.android.com/docs

[2020-10-03 18:54] kunal299 opened #322 "Add Tic Tac Toe Game App in Android Projects"
**Requirements for the app:-**

- User should clearly see who won
- User should be able to quit the game or go again after each cycle

**Requirements for the README.md:-**

- Concepts used while making the app
- Future Aspects of the app
- Documentation Used

**_Note - Readme.md file should be made in such a manner that a beginner should be able to understand the concepts used in the app._**

[2020-10-03 18:56] ricardosmithco commented on #320
Thanks @kunal299

[2020-10-03 19:22] schezfaz commented on #321
Hey @kunal299, can I take this up?

[2020-10-03 19:23] kunal299 commented on #321
@schezfaz Sure, go for it.

[2020-10-03 19:24] theGeekyLad commented on #322
Hey @kunal299 , you can assign this to me. I hope the game is not user-computer and just user-user?

[2020-10-03 19:25] schezfaz commented on #321
I see it's supposed to be a java based app. Are you looking for a mobile or a desktop application?

[2020-10-03 19:26] kunal299 commented on #322
@theGeekyLad It's a user-user app. You can proceed with this project.

[2020-10-03 19:26] kunal299 commented on #321
@schezfaz It's a android mobile app

[2020-10-04 02:47] AntoineDoniel commented on #321
can i leave a pr?

[2020-10-04 04:09] Kavinraja-G opened #325 "Add Hackerrank Java Problems!!"
I would like to add some Hackerrank Java problems and also some in problem solving section that I had done earlier. Can someone assign this to me?

[2020-10-04 04:10] #325 closed

[2020-10-04 04:38] SrishtyC13 commented on #320
I want to work on this project as it is my first open source contribution, it will help me for getting started. @kunal299

[2020-10-04 04:39] kunal299 opened #326 "Add Alarm App in Android Projects"
**Requirements for the app:-**

- Store multiple alarms
- Set individual days the alarm should repeat
- Shows notification with noise when the alarm sounds

**Requirements for the README.md:-**

- Concepts used while making the app
- Documentation and resources used
- Future Aspects of the app

[2020-10-04 04:50] kunal299 opened #327 "Add Christmas Lights App in Android Projects"
**Requirements for the app:-**

- User can press a button to start and stop the display
- User can change the interval of time controlling the change in intensity

**Requirements for the README.md file:-**

- Concepts used while making the app
- Documentation and resources used
- Future Aspects of the app

[2020-10-04 05:34] kunal299 opened #328 "Add Calendar App in Android Projects"
**Requirements for the app:-**

- User should be able to add a note on any date
- The present date should be highlighted

**Requirements for the README.md file:-**

- Concepts used
- Documentation and resources used
- Future Aspects of the app

[2020-10-04 05:47] kunal299 opened #329 "Battery Manager App"
**Requirements for the app:-**

- User should be able to get Battery Level
- User should be able to get Battery Voltage
- User should be able to get Battery Health
- User should be able to get the Battery Charging source
- User should be able to get Battery Technology
- User should be able to get Battery Temperature
- User should be able to get Charging Status

**Requirements for the README.md fil

[2020-10-04 06:02] kunal299 opened #330 "BMI Calculator App"
**Requirements for the app:-**

- User should be able to input weight and height
- By clicking on the "CALCULATE BMI" Button, user should be able to see the result
- The result must show the BMI and the category in which he falls

**Requirements for the README.md file:-**

- Concepts used
- Documentation and Resources used
- Future Aspects of the app

[2020-10-04 06:30] kunal299 opened #331 "Compass App"
**Requirements for the app:-**

As the phone is moved, the app should be able to show the direction with the degree

**Requirements for the README.md file:-**

- Concepts used
- Documentation and Resources used
- Future Aspects of the app

[2020-10-04 06:49] tapish2000 commented on #329
Do you need a nice looking UI too?

[2020-10-04 06:52] kunal299 opened #332 "Movie Finder App(Database Management App)"
**Requirements for the application:-**

- User can enter a search query into an input field
- User can submit the query. This will call an API that will return an array of movies with the corresponding data (Name of the Movie, Released Date, Picture, Rating, etc)
- User can see the list of movies appearing on the page

**Requirements for the README:-**

- Concepts Learned.
- Official documentation

[2020-10-04 06:54] kunal299 commented on #329
@tapish2000 No, the UI should be minimal.

[2020-10-04 06:57] priya-pri commented on #332
Can you assign this to me?I would like work on this

[2020-10-04 07:01] kunal299 commented on #332
@priya-pri Sure, You can proceed with this project,

[2020-10-04 07:19] SudiptaAChy commented on #330
Hi i want to work in this app
but there is no project opened yet!
also there's no info about this app in README.md file

[2020-10-04 07:22] kunal299 commented on #330
@SudiptaAChy You can start with this project.

[2020-10-04 07:23] kunal299 commented on #330
@SudiptaAChy Best of luck, go for it.

[2020-10-04 07:25] tapish2000 commented on #329
@kunal299 I can do this. Can you assign the issue to me?

[2020-10-04 07:27] kunal299 commented on #329
@tapish2000 You can proceed with this project.

[2020-10-04 07:37] kunal299 opened #335 "Age Calculator App"
**Requirements for the app:-**

- User should be able to select his Birth Date
- App should display the age, day of birth, and remaining days for the next birthday after choosing the birth date

**Requirements for the README.md file:-**

- Concepts used
- Official Documentation used
- Future Aspects of the app

[2020-10-04 08:00] ghsayan commented on #330
Hi, can I work on this too or is it already assigned ?

[2020-10-04 08:31] kunal299 commented on #330
First come first serve pull request

[2020-10-04 09:08] #319 closed

[2020-10-04 09:09] Procoder16 commented on #335
@kunal299 Sir, I would like to contribute to this issue.

Can you please assign me this issue.

[2020-10-04 09:10] kunal299 commented on #335
@Procoder16 Sure, you can start this project.

[2020-10-04 09:16] AlxGration commented on #317
hello again))
voting buttons should be a RadioButtons?
where to store votes?
votes results should looks like a ProgressBar or just in TextView?

[2020-10-04 09:51] kunal299 commented on #317
@AlxGration Yes, you can make use of Radio Buttons. You can store the votes in any database that you want. Results can be shown in a TextView.

[2020-10-04 11:03] NirmalSilwal commented on #206
I would like to contribute. I can share some interesting resources for DP. Can I make a PR on it?

[2020-10-04 12:24] avinash14022002 commented on #331
@kunal299  Sir, I would like to contribute to this issue.

Can you please assign me this issue.

[2020-10-04 12:25] kunal299 commented on #331
@avinash14022002 Sure, You can start this project.

[2020-10-04 12:26] #330 closed

[2020-10-04 12:58] AlexNorth-PNG commented on #335
@kunal299 I would like to contribute using Java

[2020-10-04 13:09] avinash14022002 commented on #326
@kunal299  Do you need a nice looking UI too?

[2020-10-04 13:10] kunal299 commented on #326
@avinash14022002 No, the UI of the app should be minimal.

[2020-10-04 13:11] avinash14022002 commented on #326
Could you assign this task to me??

[2020-10-04 13:13] kunal299 commented on #326
@avinash14022002 It's based on first come first serve pull request.

[2020-10-04 13:14] kunal299 commented on #326
@avinash14022002 You can proceed with this project.

[2020-10-04 13:36] kunal299 opened #345 "Sound Recorder App"
**Requirements for the app:-**

- User should be able to record the sound when tapped on the button
- The recorded file must be saved in the phone memory
- The UI of the app should be minimal

**Requirements for the README.md file:-**

- Concepts used
- Documentation and Resources used
- Future aspects of the app

[2020-10-04 13:43] flash76 commented on #345
I can take a go at this

[2020-10-04 13:44] kunal299 commented on #345
@flash76 Sure, you can start the project.

[2020-10-04 13:56] vishal1975 commented on #335
can you please assign me this project , i want to work on this project

[2020-10-04 13:57] realapril opened #347 "Hacktoberfest: Recommending better gitignore"
Current gitignore will cause several crashes when other people opens the project from android studio after cloning.
Please kindly accept the updated gitignore template from the GitHub’s collection.
Since you have several projects I'll change github of BMI Calculator project only so that other people can participate.

[2020-10-04 13:58] kunal299 commented on #335
@vishal1975 The one who completes the project and creates a pull request first will be accepted

[2020-10-04 14:14] kunal299 opened #349 "Pedometer App[Android]"
**Requirements of the app:-**

- can count the steps
- user should be able to set his goal
- Should give notification to the user when the app is running

**Requirements of the README.md file:-**

- Concepts used
- Documentation and Resources used
- Future aspects of the app

[2020-10-04 14:14] Prajata123 commented on #326
Can I make edits to the Readme? Like will that be valid?

[2020-10-04 14:18] kunal299 commented on #326
@Prajata123 Are you talking about the README.md file of our repository or the app's README.md?

[2020-10-04 14:20] Prajata123 commented on #326
The readme of the app.

On Sun, Oct 4, 2020, 7:48 PM Kunal Mali <notifications@github.com> wrote:

[2020-10-04 14:22] kunal299 commented on #326
@Prajata123 Yeah sure, you can improve the quality of the README file of the app.

[2020-10-04 14:28] Prajata123 commented on #326
Will it be approved for Hacktoberfest. I'm sorry I don't know a lot about
development and I'm starting.

On Sun, Oct 4, 2020, 7:53 PM Kunal Mali <notifications@github.com> wrote:

[2020-10-04 14:45] #347 closed

[2020-10-04 14:53] kunal299 commented on #326
For Hactoberfest most of your PR's should be of high quality which should include some development. But don't feel sad, you can start contributing from the README.md file and then slowly start contributing to projects. Learn a technology side by side and when u r done with 40-50%, you can start contributing for bigger contributions.

[2020-10-04 14:58] wiltonoliveira commented on #227
Hello! I would like to try this one, please.

[2020-10-04 15:03] iamrajiv opened #353 "Adding pull request template and issue template"

[2020-10-04 15:03] iamrajiv commented on #353
@dubesar I want to work on this

[2020-10-04 15:20] #317 closed

[2020-10-04 15:43] #331 closed

[2020-10-04 15:51] #322 closed

[2020-10-04 16:45] aviraw opened #360 "Made a Talk program using Java Basics"

[2020-10-04 16:48] tapish2000 commented on #329
@kunal299 The location of my project should be `Android Projects`, right?

[2020-10-04 16:59] kunal299 commented on #329
@tapish2000 yes

[2020-10-04 17:50] dubesar commented on #353
Ok you can work on this

[2020-10-04 17:56] avinash14022002 commented on #360
Could you explain??

[2020-10-04 18:01] Alesnim commented on #360
What is Talk program? Chatbot or that?

[2020-10-04 18:20] aviraw commented on #360
yes it is not complete but I aim to make a chat bot, which interacts with
anyone. It can further be used in a servlet.

On Sun, Oct 4, 2020 at 11:32 PM Alesnim <notifications@github.com> wrote:

[2020-10-04 18:26] aviraw commented on #360
#359

[2020-10-04 18:29] #353 closed

[2020-10-05 02:53] #335 closed

[2020-10-05 05:09] kunal299 opened #364 "Binary to Decimal Converter App"
**Requirements for the app:-**

- User can enter up to 8 binary digits in one input field
- User must be notified if anything other than a 0 or 1 was entered
- User views the results in a single output field containing the decimal (base 10) equivalent of the binary number that was entered

**Requirements for the README.md file:-**

- Concepts used
- Documentation and resources used
- Future Aspect

[2020-10-05 05:27] kunal299 opened #365 "CSV to JSON Converter App[Android]"
**Requirements for the app:-**

- User can paste CSV syntax into a text box
- User can click a 'Convert to JSON' button to validate the CSV text box and convert it to JSON
- User can see an warning message if the CSV text box is empty or if it doesn't contain valid CSV
- User can see the converted CSV in the JSON text box

**Requirements for the README.md file:-**

- Concepts used
- Documentation

[2020-10-05 05:31] kunal299 opened #366 "Dollar to Cents Converter App[Android]"
**Requirements for the app:-**

- User can enter a dollar value
-  User can see the total cents from the converted dollar value

**Requirements for the README.md file:-**

- Concepts used
- Documentation and resources used
- Future Aspects of the app

**Note:- Add the app to the Android Projects section**

[2020-10-05 05:36] kunal299 opened #367 "JSON to CSV Converter App[Android]"
**Requirements for the app:-**

- User can paste JSON syntax into a text box
-  User can click a 'Convert' button to validate the JSON text box and convert it to CSV
-  User can see the converted CSV in another text box
-  User can see a warning message if the JSON text box is empty or if it doesn't contain valid JSON
-  User can click a 'Clear' button to clear the contents of both the JSON and CS

[2020-10-05 05:40] mallikarjun2000 commented on #366
Hey!
I would like to work on this project. can you assign it to me please?

[2020-10-05 05:41] kunal299 commented on #366
@mallikarjun2000 Sure, you can start this project.

[2020-10-05 05:42] DeepanshuGOYAL05 commented on #321
Can I add readme file for this?

[2020-10-05 05:43] Raag98 commented on #366
Hey @kunal299 , I would like to work on this project. Can I do it??

[2020-10-05 05:43] kunal299 commented on #366
@mallikarjun2000 If any doubt ask in the discord https://discord.gg/aDGzsVp

[2020-10-05 05:47] kunal299 commented on #366
@Raag98 You can also start the project and if you completed the project earlier than the first person who commented, your pr will be merged. And if both submitted the project in the same time frame then the first commented one's project will be accepted.

[2020-10-05 05:49] kunal299 commented on #321
@DeepanshuGOYAL05 Sure, you can add a readme file for this project

[2020-10-05 05:51] dubesar commented on #227
@wiltonoliveira please go ahead

[2020-10-05 05:59] abkoradiya commented on #364
notified means? Can't we limit input to 0 and 1 only digits?

[2020-10-05 06:01] kunal299 commented on #364
@abkoradiya You can do this also.

[2020-10-05 06:03] abkoradiya commented on #364
any design specification?

[2020-10-05 06:08] kunal299 commented on #364
@abkoradiya The app design should be minimal and make a readme file such that beginners should be able to understand.

[2020-10-05 06:12] abkoradiya commented on #364
Assign me. I want to work on this. Can I use kotlin or need to do in Java?

[2020-10-05 06:13] kunal299 opened #369 "Random Number Generator"
**Requirements for the app:-**

- User can define maximum and minimum values for the random number
- User can press the generate button to generate a random number

**Requirements for the README.md file:-**

- Concepts used
- Documentation and resources used
- Future Aspects of the app

**Note:- Add the app to the Android Projects section**

[2020-10-05 06:14] kunal299 commented on #364
@abkoradiya You can start working on this project. The use of java in all the projects is a must, you cannot use kotlin.

[2020-10-05 06:17] kunal299 opened #370 "Slider Design App[Android]"
**Requirements for the app:-**

- User can see a slider displaying multiple images every x seconds
-  User can click on previous and next buttons and the slider will display the corresponding image

**Requirements for the README.md file:-**

- Concepts used
- Documentation and resources used
- Future Aspects of the app

**Note:- Add the app to the Android Projects section**

[2020-10-05 06:19] kunal299 commented on #366
**Give a star to our repo if you liked the project.**

[2020-10-05 06:20] kunal299 commented on #364
**Give a star to our repo if you liked the project.**

[2020-10-05 06:21] kunal299 commented on #345
**Give a star to our repo if you liked the project.**

[2020-10-05 06:22] kunal299 commented on #332
**Give a star to our repo if you liked the project.**

[2020-10-05 06:23] kunal299 commented on #329
**Give a star to our repo if you liked the project.**

[2020-10-05 06:23] kunal299 commented on #326
**Give a star to our repo if you liked the project.**

[2020-10-05 06:24] kunal299 commented on #321
**Give a star to our repo if you liked the project.**

[2020-10-05 06:25] kunal299 commented on #320
**Give a star to our repo if you liked the project.**

[2020-10-05 06:25] kunal299 commented on #311
**Give a star to our repo if you liked the project.**

[2020-10-05 06:25] kunal299 commented on #264
**Give a star to our repo if you liked the project.**

[2020-10-05 06:26] kunal299 commented on #251
**Give a star to our repo if you liked the project.**

[2020-10-05 06:27] kunal299 commented on #249
**Give a star to our repo if you liked the project.**

[2020-10-05 06:27] kunal299 commented on #248
**Give a star to our repo if you liked the project.**

[2020-10-05 06:40] kunal299 opened #371 "Wind Chill Calculator App"
**Requirements for the app:-**

- User can enter the actual temperature and the wind speed
- User can press the Calculate button to display the wind chill
- User will receive an error message when Calculate is clicked if data values are not entered

**Requirements for the README.md file:-**

- Concepts used
- Documentation and resources used
- Future Aspects of the app

**Note:- Add the app to the

[2020-10-05 06:45] shikhar8434 commented on #249
ok sir

[2020-10-05 06:50] kunal299 commented on #249
@shikhar8434 Thanks

[2020-10-05 06:50] avinash14022002 commented on #369
@kunal299  should it be android project??

[2020-10-05 06:52] kunal299 commented on #369
@avinash14022002 yes

[2020-10-05 06:53] avinash14022002 commented on #369
okay sir
I am working on it

[2020-10-05 06:55] kunal299 commented on #369
@avinash14022002 Sure, go for it. Best of luck!

[2020-10-05 07:04] kunal299 opened #372 "Text to Speech App"
**Requirements for the app:-**

- User should be able to input the text which he wants the app to speak
- User should be able to adjust the pitch and speed of the voice
- Add a "SAY IT" button so that it speaks the inputted text when clicked on it

**Requirements for the README.md file:-**

- Concepts used
- Documentation and resources used
- Future Aspects of the app

**Note:- Add the app to the

[2020-10-05 07:18] kunal299 opened #374 "Dictionary App[Android]"
**Requirements for the app:-**

- User should be able to search the word he wants to know in the Search Bar
- The meaning of the word should be displayed below

**Requirements for the README.md file:-**

- Concepts used
- Documentation and resources used
- Future Aspects of the app

**Note:- Add the app to the Android Projects section**

[2020-10-05 07:28] iamrajiv opened #376 "Adding Ciphers section"
Adding different types of Ciphers algorithms in Java-A-Z.

[2020-10-05 07:28] iamrajiv commented on #376
@dubesar I want to work on this issue.

[2020-10-05 07:35] ustaadvaibhav opened #377 "Adding different types of Ciphers algorithms in Java-A-Z."
Adding different types of Ciphers algorithms in Java-A-Z.

[2020-10-05 07:53] kunal299 opened #378 "Word Counter App"
**Requirements for the app:-**

- User should be able to type the words in the app
- Must show the total words counted on the top

**Requirements for the README.md file:-**

- Concepts used
- Documentation and resources used
- Future Aspects of the app

**Note:- Add the app to the Android Projects section**

[2020-10-05 08:08] kunal299 opened #379 "Music Player App[Android]"
**Requirements for the app:-**

- User should be able to play, pause and stop the song
- You can add a song for app testing

**Requirements for the README.md file:-**

- Concepts used
- Documentation and resources used
- Future Aspects of the app

**Note:- Add the app to the Android Projects section**

[2020-10-05 08:12] avinash14022002 commented on #369
#380 https://github.com/dubesar/Java-A-Z/pull/380
Pls check and merge the pull request

[2020-10-05 08:14] kunal299 commented on #369
@avinash14022002 Wait I'll check.

[2020-10-05 08:22] raghavtalwar7 commented on #328
Is this still available i would like to work a bit on it. Also is it acceptable for hacktoberfest.

[2020-10-05 08:24] #369 closed

[2020-10-05 08:25] kavita121 commented on #322
Hey!! Can I work on this??

[2020-10-05 08:26] kunal299 commented on #328
@raghavtalwar7 Sure, go for it. It would be acceptable for hactoberfest also.

[2020-10-05 08:27] kunal299 commented on #328
**Give a star to our repo if you liked it.**

[2020-10-05 08:30] kunal299 commented on #322
This app is already made. You can take any other app in our repo or you can suggest me an app that you would like to make.

[2020-10-05 08:30] raghavtalwar7 commented on #328
Okay sure, Thanks.

[2020-10-05 09:04] #378 closed

[2020-10-05 09:16] kavita121 commented on #322
okay thanks!

[2020-10-05 09:21] DeepanshuGOYAL05 commented on #283
Can I add in this? and can you provide guidelines for Pull Request?

[2020-10-05 09:29] kunal299 commented on #283
@DeepanshuGOYAL05 You can add this. Check out the guidelines:-
https://github.com/dubesar/Java-A-Z/blob/master/CONTRIBUTING.md

[2020-10-05 09:39] huyhoang8398 commented on #374
Can you review my PR @kunal299

[2020-10-05 09:43] kunal299 commented on #374
@huyhoang8398 Sure, wait a min I'll check

[2020-10-05 10:22] sayaPintar commented on #372
dekstop app?

[2020-10-05 10:24] kunal299 commented on #372
@sayaPintar No, You have to make an android app.

[2020-10-05 10:24] Arsh-ak7 opened #385 "Closest Pair Problem"
## 🚀 Feature

The problem deals with finding the distance between the two closest points in a given set of points.

## Have you spent some time to check if this issue has been raised before?

Yes

### Have you read the [Contributing Guidelines](https://github.com/dubesar/Java-A-Z/blob/master/CONTRIBUTING.md)?

Yes

## Pitch

One of the very fundamental algorithms that everyone should know of.

[2020-10-05 11:44] Danielinte commented on #377
Can I work on this issue?

[2020-10-05 11:46] samriddhi-arya opened #388 "Coffee Ordering App"
## 🚀 Feature

This app would take the user name and address as input.
The user can select number of coffees and toppings.
On clicking place order the user can see their order along with price.

[2020-10-05 12:05] kunal299 commented on #388
@samriddhi-arya It's a good idea, go for it. Best of luck!

[2020-10-05 12:26] kunal299 commented on #388
@samriddhi-arya Please check the activity as on clicking place order I am not able to see the order along with price.

[2020-10-05 13:52] kunal299 opened #392 "Emoji Translator App[Android]"
**Requirements for the app:-**

- User can enter a string of words into a text box
- User can click a 'Translate' button to translate words in the entered text into their corresponding emojis
- User can see a warning message if 'Translate' was clicked, but the input text box was empty
- User can see text elements in the entered text translated to their equivalent emojis in an output text box. Text

[2020-10-05 14:01] kunal299 opened #394 "Image Scanner App[Android]"
**Requirements for the app:-**

- User can either click a photo or upload a photo from the gallery
- Processing is done on the image.
- If there are any phone numbers, email or web links present in the image then they are listed in the cards properly organized.

**Requirements for the README.md file:-**

- Concepts used
- Documentation and resources used
- Future Aspects of the app

**Note:- Add t

[2020-10-05 14:06] #320 closed

[2020-10-05 14:11] kunal299 opened #396 "Markdown Previewer App[Android]"
**Requirements for the app:-**

- User can enter Github flavored markdown into a text area
- User can see the resulting HTML in another container/box by pressing on a button

**Requirements for the README.md file:-**

- Concepts used
- Documentation and resources used
- Future Aspects of the app

**Note:- Add the app to the Android Projects section**

[2020-10-05 14:14] kunal299 opened #397 "Markdown Table Generator App[Android]"
**Requirements for the app:-**

- User can create an HTML table with a given number of Rows and Columns
- User can insert text in each cell of the HTML table
- User can generate a Markdown-formatted table that will contain the data from the HTML table
- User can preview the Markdown-formatted table

**Requirements for the README.md file:-**

- Concepts used
- Documentation and resources used
- Fut

[2020-10-05 14:20] kunal299 opened #398 "Meme Generator App[Android]"
**Requirements for the app:-**

- User can upload an image that will appear in a canvas
- User can add text in the top part of the image
- User can add text in the bottom part of the image
- User can select the color of the text
- User can select the size of the text
- User can save the resulting meme in the phone memory

**Requirements for the README.md file:-**

- Concepts used
- Documentation a

[2020-10-05 14:26] zalviandyr commented on #379
Hi,I would like to work on this project.

[2020-10-05 14:27] dubesar commented on #377
@Danielinte  yes you can work on this app

[2020-10-05 14:30] kunal299 commented on #379
@zalviandyr Sorry, it's already done by one person today

[2020-10-05 14:30] zalviandyr commented on #249
is project has been complete ?

[2020-10-05 14:31] kunal299 commented on #379
@zalviandyr You can take any other project or tell me any app that you would like to make.

[2020-10-05 14:55] kunal299 opened #399 "Story App[Android]"
**Requirements for the app:-**

- Should display a list of stories with the title
- When the user clicks on any one title of the story, it should display the whole story

**Requirements for the README.md file:-**

- Concepts used
- Documentation and resources used
- Future Aspects of the app

**Note:- Add the app to the Android Projects section**

[2020-10-05 15:21] anfaas1618 commented on #399
do we need to add admin panel or admin app to upload stories and client to read them ?

[2020-10-05 15:32] renatooliveira98 commented on #364
Hello!

I am a begginner here and have a doubt.
Does this application need a GUI?

[2020-10-05 15:33] kunal299 commented on #399
@anfaas1618 No, It's a simple app that shows listview of some stories

[2020-10-05 15:34] kunal299 commented on #364
@abkoradiya The app UI should be minimal.

[2020-10-05 15:35] anfaas1618 commented on #399
Ok i can do that then,
  Can i work on this app.

[2020-10-05 15:36] anfaas1618 commented on #399
Also to get clear ahead , this is not like Instagram stories right

[2020-10-05 15:54] kunal299 commented on #399
Yeah sure, go for it.

[2020-10-05 15:55] kunal299 commented on #399
Ya

[2020-10-05 16:09] Danielinte commented on #377
@dubesar
What specific algorithms should it be? (symmetric/asymmetric...)
Where should be the section/directory for these algorithms?

[2020-10-05 16:59] rafu01 commented on #367
Can I do this in flutter?

[2020-10-05 17:00] kunal299 commented on #367
@rafu01 No

[2020-10-05 17:00] kunal299 commented on #367
@rafu01 It must be made in java

[2020-10-05 17:36] rafu01 commented on #367
Okay thanks

[2020-10-05 18:13] tapish2000 commented on #329
@kunal299 I am sorry, I can't start with the project due to some personal problems. It's good you have not assigned me this issue. I am feeling terrible about this. Hope you can understand.

[2020-10-05 18:14] kunal299 commented on #329
@tapish2000 It's ok

[2020-10-05 18:28] adizcode commented on #264
Sure. Btw I'm almost done. I'll try to wrap it up in a day or two.

[2020-10-06 01:26] kunal299 commented on #264
@adizcode Thank you for supporting us.

[2020-10-06 01:45] rahmatsyam commented on #370
Halo, can I contribute this?

[2020-10-06 02:21] kunal299 commented on #370
@rahmatsyam Sure, Go for it.

[2020-10-06 02:53] #371 closed

[2020-10-06 02:53] #364 closed

[2020-10-06 05:32] iamrajiv commented on #376
@dubesar @kunal299 I want to work on this issue.

[2020-10-06 05:41] Pinkolik commented on #365
Hello! I would like to work on this :)

[2020-10-06 05:42] Pinkolik commented on #396
Hello! I would like to take this issue :)

[2020-10-06 05:45] kunal299 commented on #365
@Pinkolik Sure, go for it. Best of luck!

[2020-10-06 05:45] kunal299 commented on #365
@Pinkolik It should be an android mobile app

[2020-10-06 05:46] kunal299 commented on #396
@Pinkolik You can start with this project.

[2020-10-06 05:47] kunal299 commented on #376
@iamrajiv Sure, you can start. Sorry for the late reply.

[2020-10-06 06:22] Pinkolik commented on #365
@kunal299 Isn't it a bit weird to work with csv and json on your mobile phone? Just asking

[2020-10-06 06:44] kunal299 commented on #365
@Pinkolik yes but we want to add something new as there are fewer android projects left to add in our repo.

[2020-10-06 07:06] DeepanshuGOYAL05 commented on #377
Can I add algorithm code in this?

[2020-10-06 07:48] #388 closed

[2020-10-06 08:13] kunal299 opened #407 "This or That Game App[Android]"
**Requirements for the app:-**

- User can see two images
- User can select it's favorite from the two images
- After a selection is made, the other 2 images are displayed

**Requirements for the README.md file:-**

- Concepts used
- Documentation and resources used
- Future Aspects of the app

**Note:- Add the app to the Android Projects section**

[2020-10-06 08:19] kunal299 opened #408 "Calorie Counter App[Android]"
**Requirements for the app:-**

- The developer will create a JSON file containing the food items to be searched. This will be loaded when the app is started
- User can see a panel containing a food description input text box, a 'Search' button, and a 'Clear' button
- User can enter search terms into the food description input text box
- User can click on the 'Search' button to search for the matc

[2020-10-06 08:25] kunal299 opened #409 "Click Counter App"
**Requirements for the app:-**

- When clicked on the "click me" button, the app should display how many times the button is clicked.
- User should be able to reset it to zero

**Requirements for the README.md file:-**

- Concepts used
- Documentation and resources used
- Future Aspects of the app

**Note:- Add the app to the Android Projects section**

[2020-10-06 08:36] kunal299 opened #410 "Random Color Generator"
**Requirements for the app:-**

- When a user clicks on a button, the background color of the app must change

**Requirements for the README.md file:-**

- Concepts used
- Documentation and resources used
- Future Aspects of the app

**Note:- Add the app to the Android Projects section**

[2020-10-06 08:39] bachlis commented on #410
Hey, this looks simple and fun. May I work on it?

[2020-10-06 08:40] kunal299 commented on #410
@bachlis Sure, go for it.

[2020-10-06 08:43] bachlis commented on #410
quick question, does it have to be in Java, or may I use Kotlin?

[2020-10-06 08:44] kunal299 commented on #377
@DeepanshuGOYAL05 Sure,you can.

[2020-10-06 08:44] kunal299 commented on #410
@bachlis Java

[2020-10-06 08:45] kunal299 commented on #410
**Give a star if you liked our repo.**

[2020-10-06 08:51] ywalia01 commented on #409
Hey, I'd like to work on this

[2020-10-06 08:54] kunal299 commented on #409
@ywalia01 You can start working on this project.

[2020-10-06 08:56] kunal299 commented on #409
**Give a star if you liked our repo.**

[2020-10-06 08:57] kunal299 opened #413 "Quotes App[Android]"
**Requirements for the app:-**

- Minimal UI
- Should be able to fetch API data from any quotes API
- Should be able to share it from the app through external intent
- Should dynamically reload when fetching the next quote in the app

**Requirements for the README.md file:-**

- Concepts used
- Documentation and resources used
- Future Aspects of the app

**Note:- Add the app to the Android Projec

[2020-10-06 09:03] Pinkolik commented on #365
Ok. Thanks I have started working on this.

[2020-10-06 09:03] Pinkolik commented on #396
Ok. Thanks I have started working on this.

[2020-10-06 09:05] kunal299 commented on #365
@Pinkolik Ok

[2020-10-06 09:19] kunal299 opened #414 "Spin the Bottle Game"
**Requirements for the app:-**

- When the user clicks on the bottle, it should spin in any random direction with animation

**Requirements for the README.md file:-**

- Concepts used
- Documentation and resources used
- Future Aspects of the app

**Note:- Add the app to the Android Projects section**

[2020-10-06 09:24] #376 closed

[2020-10-06 10:23] haseeb-xd commented on #372
@kunal299 I have made the pull request for this particular app. Have a look at it.

[2020-10-06 10:29] DeepanshuGOYAL05 commented on #377
Hey,

I have added two Cipher Algorithms. Please review it and check pull
request!!

On Tue, Oct 6, 2020, 2:14 PM Kunal Mali <notifications@github.com> wrote:

[2020-10-06 10:59] danielochka commented on #409
Hello, I'm new here and I would like to start contribute. We have it like a semestral work in our school. Can you assign this to me?

[2020-10-06 11:18] #410 closed

[2020-10-06 11:42] huyhoang8398 commented on #321
hey @kunal299 Is this prj still available?

[2020-10-06 11:45] huyhoang8398 commented on #414
I would like to work on this @kunal299

[2020-10-06 11:53] kunal299 commented on #414
@huyhoang8398 Sure, but it's an android mobile app.

[2020-10-06 12:01] kunal299 commented on #321
@huyhoang8398 Yes

[2020-10-06 12:17] cheshtaaagarrwal opened #423 "Added code in stack folder"
## 📚 Documentation

(A clear and concise description of what the issue is.)
Added code in stack folder
## Have you spent some time to check if this issue has been raised before?
yes
(Have you googled for a similar issue or checked our older issues for a similar bug)

### Have you read the [Contributing Guidelines](https://github.com/dubesar/Java-A-Z/blob/master/CONTRIBUTING.md)?

(Write your answe

[2020-10-06 12:22] SrishtyC13 commented on #409
Can i work on this?

[2020-10-06 12:39] kunal299 commented on #409
@SrishtyC13 You can also start this project but the one who creates pr first will be merged.

[2020-10-06 13:56] #414 closed

[2020-10-06 14:14] huyhoang8398 commented on #321
I will take this project

[2020-10-06 14:19] #372 closed

[2020-10-06 14:22] dubesar opened #425 "Add in proper documentation for Trie in DataStructure Section using a proper README file"
Add in the proper and detailed readme for TRIE in the Data structure section in the README file.

[2020-10-06 15:13] huyhoang8398 commented on #409
Can you review my Pr @kunal299

[2020-10-06 15:17] kunal299 commented on #409
@huyhoang8398 Wait, I'll check.

[2020-10-06 15:28] SrishtyC13 commented on #409
is any other android task left?i too was merging this

[2020-10-06 15:31] kunal299 commented on #409
@SrishtyC13 This project is merged but you can try other projects too in issues section. I'll be also adding more android projects within an hour.

[2020-10-06 15:31] huyhoang8398 commented on #425
I would like to work on this

[2020-10-06 15:32] kunal299 commented on #425
@huyhoang8398 You can start working.

[2020-10-06 15:53] mujtaba1747 commented on #425
There is no README file Data Structure section, should we create one ?

[2020-10-06 15:56] huyhoang8398 commented on #425
I think we should arrange/make sure to maintain a proper directory structure like this
[code]
What do you think @kunal299

[2020-10-06 16:11] kunal299 commented on #425
You have to create the readme file in Trie folder in data structures section

[2020-10-06 16:33] ATRI2107 opened #430 "More details in Inheritance markdown file regarding the constructor of super class and sub class."
@dubesar I believe that in Inheritance markdown documentation more details regarding the calling of constructor of super class and sub class should be added.

[2020-10-06 16:36] mujtaba1747 commented on #425
Hey,  @huyhoang8398 can we work together on this ?

[2020-10-06 17:09] kunal299 opened #431 "Image to PDF Converter App[Android]"
**Requirements for the app:-**

- The app should be able to convert image into a pdf file
- User should be able to save the file in the phone memory

**Requirements for the README.md file:-**

- Screenshots
- Concepts used
- Documentation and resources used
- Future Aspects of the app

**Note:- Add the app to the Android Projects section**

[2020-10-06 17:12] kunal299 opened #432 "JPG to JPEG Converter App[Android]"
**Requirements for the app:-**

- The app should convert jpg to jpeg format
- User should be able to save the image

**Requirements for the README.md file:-**

- Screenshots
- Concepts used
- Documentation and resources used
- Future Aspects of the app

**Note:- Add the app to the Android Projects section**

[2020-10-06 17:25] kunal299 opened #433 "Login App[Android]"
**Requirements for the app:-**

- User should be able to input username and password
- The app should contain a button named "LOG IN"
- All the data entered should be stored in a database

**Requirements for the README.md file:-**

- Screenshots
- Concepts used
- Documentation and resources used
- Future Aspects of the app

**Note:- Add the app to the Android Projects section**

[2020-10-06 17:31] FaMoSi commented on #432
I would like to work on this 👍

[2020-10-06 17:32] kunal299 commented on #432
@FaMoSi Sure, go for it.

[2020-10-06 17:49] solonovamax commented on #433
Was going to contribute to this, but idk how to use android and I cba to learn because _free time_. Might want to add "android" or something to the title/requirements.

[2020-10-06 17:54] haseeb-xd commented on #431
i would like to work on this.

[2020-10-06 18:02] kunal299 commented on #433
@solonovamax I have given a note in the description that all the "apps" must be added to "Android Projects".

[2020-10-06 18:03] kunal299 commented on #431
@haseeb-xd Sure, you can start working on it.

[2020-10-06 18:05] solonovamax commented on #433
yes, I see that. I just think it should be in the title for greater clarity. Something like "Login App [Androind Projects]" for this issue, or "Big words [Machine Learning]" for a machine learning one.

[2020-10-06 18:07] kunal299 commented on #433
@solonovamax Sure, I'll do that. Thanks

[2020-10-06 21:28] mujtaba1747 commented on #425
I just added a simple readme. @huyhoang8398 we should improve it further if needed !

[2020-10-06 22:22] mujtaba1747 opened #436 "Add Trie using 2D Array"
## 🚀 Feature

(A clear and concise description of what the feature is.)

## Have you spent some time to check if this issue has been raised before?

Yes, this issue hasn't been raised earlier.

### Have you read the [Contributing Guidelines](https://github.com/dubesar/Java-A-Z/blob/master/CONTRIBUTING.md)?

Yes !

## Pitch

Trie can be implemented using a Tree Like structure (using HashMaps) which

[2020-10-06 22:22] mujtaba1747 commented on #436
Can I implement this ?

[2020-10-07 01:09] kunal299 opened #437 "Unit Converter App[Android]"
**Requirements for the app:-**

- The app should be able to convert important units like miles, km, kg, lb, inch, cm, m
- The app must contain a button named "CONVERT"

**Requirements for the README.md file:-**

- Screenshots
- Concepts used
- Documentation and resources used
- Future Aspects of the app

**Note:- Add the app to the Android Projects section**

[2020-10-07 01:15] kunal299 opened #438 "News App[Android]"
**Requirements for the app:-**

- The app should fetch news and data from the web either using web scrapping or using API
- The app should display dynamically using the recycler view

**Requirements for the README.md file:-**

- Screenshots
- Concepts used
- Documentation and resources used
- Future Aspects of the app

**Note:- Add the app to the Android Projects section**

[2020-10-07 01:24] zalviandyr commented on #433
Hi,I would like to work on this project.

[2020-10-07 01:24] zalviandyr commented on #438
Hi,I would like to work on this project.

[2020-10-07 01:27] kunal299 opened #439 "Mailing List App[Android]"
**Requirements for the app:-**

- The app should use recycler view and card view
- The app should have a search bar in the top right corner.

**Requirements for the README.md file:-**

- Screenshots
- Concepts used
- Documentation and resources used
- Future Aspects of the app

**Note:- Add the app to the Android Projects section**

[2020-10-07 01:28] kunal299 commented on #433
@zalviandyr Sure, You can start working on it.

[2020-10-07 01:29] kunal299 commented on #438
@zalviandyr Sure, go for it.

[2020-10-07 03:22] dubesar commented on #436
@mujtaba1747 please go ahead with this and make a PR, will review it.

[2020-10-07 03:23] dubesar commented on #430
@ATRI2107 please go ahead and add in details, will review it.

[2020-10-07 05:19] iampauladdai commented on #394
Hello,

 I would like to help if possible.

[2020-10-07 05:21] kunal299 commented on #394
@iampauladdai Sure, go for it.

[2020-10-07 05:22] kunal299 commented on #394
**Give a star if you liked our repo.**

[2020-10-07 05:31] haseeb-xd commented on #437
I have started work on this project.

[2020-10-07 05:32] kunal299 commented on #437
@haseeb-xd Ok

[2020-10-07 05:55] SaurabhVj commented on #385
I would like to implement this. please assign it to me. @Arsh-ak7

[2020-10-07 06:40] spacemonkey1101 commented on #433
what sort of database is required?

[2020-10-07 06:46] kunal299 commented on #433
@spacemonkey1101 It's done just readme file updation is req. You can take any project.

[2020-10-07 07:37] #433 closed

[2020-10-07 07:57] raghavtalwar7 commented on #328
I have made a pull request you can check.

[2020-10-07 07:59] ATRI2107 commented on #430
@dubesar  I have created a [PR](https://github.com/dubesar/Java-A-Z/pull/443) regarding the same.

[2020-10-07 08:30] imshahnawazdevil commented on #439
can I work on this ?

[2020-10-07 08:34] kunal299 commented on #439
@imshahnawazdevil Sure, you can start working on this.

[2020-10-07 08:35] kunal299 commented on #439
**Give a star if you liked our repo.**

[2020-10-07 08:38] imshahnawazdevil commented on #439
Doubts:
would I have to take static List for recyclerView or u will provide me API ? Or i have to use my own idea ?

[2020-10-07 08:40] kunal299 commented on #439
@imshahnawazdevil You can use our own ide.

[2020-10-07 08:41] imshahnawazdevil commented on #439
ok then.

[2020-10-07 08:41] kunal299 commented on #439
@imshahnawazdevil Best of luck!

[2020-10-07 08:51] haseeb-xd commented on #437
@kunal299  hello, i am almost done with this but can you specify what units to convert like (from-to).

[2020-10-07 08:53] kunal299 commented on #437
@haseeb-xd km-miles,miles-km,kg-g,g-kg,kg-lbs,lbs-kg,m-cm,cm-m

[2020-10-07 09:45] kunal299 opened #444 "Add "Welcome to Java!" in JavaHackerrank Section"
**_Add a perfect solution to the given challenge._**

Refer:-https://www.hackerrank.com/domains/java

[2020-10-07 09:49] kunal299 opened #445 "Add "Java Stdin and Stdout I" in JavaHackerrank Section"
**_Add a perfect solution to the given challenge._**

Refer:-https://www.hackerrank.com/domains/java

[2020-10-07 09:51] kunal299 opened #446 "Add "Java If-Else" in JavaHackerrank Section"
**_Add a perfect solution to the given challenge._**

Refer:-https://www.hackerrank.com/domains/java

[2020-10-07 09:53] kunal299 opened #447 "Add "Java Stdin and Stdout II" in JavaHackerrank Section"
**_Add a perfect solution to the given challenge._**

Refer:-https://www.hackerrank.com/domains/java

[2020-10-07 09:54] kunal299 opened #448 "Add "Java Output Formatting" in JavaHackerrank Section"
**_Add a perfect solution to the given challenge._**

Refer:-https://www.hackerrank.com/domains/java

[2020-10-07 10:03] kunal299 opened #450 "Add "Java Loops I" in JavaHackerrank Section"
**_Add a perfect solution to the given challenge._**

Refer:-https://www.hackerrank.com/domains/java

[2020-10-07 10:16] kunal299 opened #451 "Add "Java Loops II" in JavaHackerrank Section"
**_Add a perfect solution to the given challenge._**

Refer:-https://www.hackerrank.com/domains/java

[2020-10-07 10:17] sandeep3136 commented on #451
I'll work on this issue

[2020-10-07 10:25] kunal299 opened #452 "Add "Java Datatypes" in JavaHackerrank Section"
**_Add a perfect solution to the given challenge._**

Refer:-https://www.hackerrank.com/domains/java

[2020-10-07 10:49] zalviandyr commented on #447
I will work on this issue

[2020-10-07 10:54] kunal299 opened #454 "Add "Java End-of-file" in JavaHackerrank Section"
**_Add a perfect solution to the given challenge._**

Refer:-https://www.hackerrank.com/domains/java

[2020-10-07 10:57] kunal299 opened #455 "Add "Java Static Initializer Block" in JavaHackerrank Section"
**_Add a perfect solution to the given challenge._**

Refer:-https://www.hackerrank.com/domains/java

[2020-10-07 11:01] kunal299 opened #456 "Add "Java Int to String" in JavaHackerrank Section"
**_Add a perfect solution to the given challenge._**

Refer:-https://www.hackerrank.com/domains/java

[2020-10-07 11:02] ShubhSingh commented on #450
Hi @kunal299 you can merge open PR

[2020-10-07 11:04] kunal299 opened #459 "Add "Java Date and Time" in JavaHackerrank Section"
**_Add a perfect solution to the given challenge._**

Refer:-https://www.hackerrank.com/domains/java

[2020-10-07 11:10] SandeepGamot opened #460 "Add more Algorithms under the Algorithms Directory."
**What is the Issue in brief?**
The Algorithm section requires more algorithms and a bit of organization.

[2020-10-07 11:18] haseeb-xd commented on #437
@kunal299  done. Making a pull request in few minutes.

[2020-10-07 12:20] #448 closed

[2020-10-07 12:33] haseeb-xd commented on #437
@kunal299  Check the pull request. I have done it

[2020-10-07 13:12] #445 closed

[2020-10-07 13:17] #456 closed

[2020-10-07 13:18] #455 closed

[2020-10-07 13:18] #452 closed

[2020-10-07 13:18] #454 closed

[2020-10-07 13:19] #450 closed

[2020-10-07 13:20] #447 closed

[2020-10-07 13:20] #444 closed

[2020-10-07 13:32] DineshBS44 commented on #446
I'll work on this issue.

[2020-10-07 13:53] DeepanshuGOYAL05 commented on #460
Hey, Can you label it as Hacktoberfest2020 and Hacktoberfest-accepted?

[2020-10-07 13:59] haseeb-xd commented on #446
@DineshBS44  i already made a pull request for this.

[2020-10-07 14:11] SandeepGamot commented on #460
Hey @DeepanshuGOYAL05 you can check your progress at https://hacktoberfest.digitalocean.com/profile

[2020-10-07 14:28] #446 closed

[2020-10-07 14:49] DeepanshuGOYAL05 commented on #460
Hi, I can check that but please add label too in this!!

[2020-10-07 14:51] kajalrawal commented on #437
Can you assign me this @kunal299

[2020-10-07 15:34] kunal299 commented on #437
@kajalrawal This issue is submitted. You can go with other issues.

[2020-10-07 15:34] #437 closed

[2020-10-07 15:50] ShubhSingh commented on #451
@kunal299 PR with fix is open, Thanks in advance.

[2020-10-07 16:09] mete23 commented on #451
solved the issue!

[2020-10-07 17:20] mete23 commented on #459
Ill work on this!

[2020-10-07 17:25] mujtaba1747 opened #479 "Add Readme for Heap Data Structure"
## 📚 Documentation

I wish to add a readme for Heap data structure

## Have you spent some time to check if this issue has been raised before?

No, this hasn't been raised earlier

### Have you read the [Contributing Guidelines](https://github.com/dubesar/Java-A-Z/blob/master/CONTRIBUTING.md)?

Yes, I have.

[2020-10-07 17:58] dubesar commented on #479
Yes please do it.

[2020-10-07 18:06] mujtaba1747 commented on #479
Great, I'll start right away !

[2020-10-07 18:24] mete23 opened #484 "Lets write Readme files for all categories"
## 📚 Documentation
I've realized that there is not enough documentation. Maybe we should make README files for all categories, in which we explain what the category is about.

(A clear and concise description of what the issue is.)

## Have you spent some time to check if this issue has been raised before?
yes
(Have you googled for a similar issue or checked our older issues for a similar bug)
yes

[2020-10-07 19:03] mujtaba1747 commented on #484
@mete23 Add the hacktoberfest label too, if appropriate !

[2020-10-07 19:04] mujtaba1747 commented on #484
@mete23 , we should also put all the algorithms and data structures into proper directories and then write a readme in that directory !

[2020-10-07 19:04] debajitdeb11 commented on #407
@kunal299 Can I work on this?

[2020-10-07 19:04] mujtaba1747 commented on #484
@dubesar, what say ?

[2020-10-07 19:25] mete23 commented on #484
Unfortunately i am not able to add a label to an issue so we have to wait :(

[2020-10-07 19:27] mete23 commented on #484
**Good idea!**

[2020-10-08 03:25] dubesar commented on #484
@mujtaba1747 yes it is a good idea, you can start it.

[2020-10-08 03:26] #460 closed

[2020-10-08 03:30] #459 closed

[2020-10-08 03:31] mujtaba1747 commented on #484
Sure !

[2020-10-08 03:34] DineshBS44 commented on #327
Could you please explain in a bit more detailed way as to what has to implemented here? So, what I understood is that there is a Christmas light animation playing in the app and we can control the speed at which the animation plays using a Seekbar, and there are also start, stop and pause buttons. I would like to work on this issue after you have clarified it.

[2020-10-08 03:39] #484 closed

[2020-10-08 04:00] dubesar commented on #479
@mujtaba1747 you reverted the TRIE readme, can you make a PR for that too with this?

[2020-10-08 04:01] kunal299 commented on #407
Sure, You can start working on it.

[2020-10-08 04:06] kunal299 commented on #327
@DineshBS44 Check out this - https://codepen.io/irfanezani_/pen/mdeLpKo. It's a web project but we have to make something similar to this in our app.

[2020-10-08 05:24] #451 closed

[2020-10-08 05:25] #438 closed

[2020-10-08 05:25] DineshBS44 commented on #327
Okay @kunal299 , I'll work on this issue.

[2020-10-08 05:27] kunal299 commented on #327
@DineshBS44 Best of luck!!

[2020-10-08 05:29] kunal299 commented on #327
@DineshBS44 Give a star if you liked the repo.

[2020-10-08 05:57] AntoineDoniel commented on #413
can you elaborate the sharing part?

[2020-10-08 06:06] kunal299 commented on #413
@kunal299 You have to add a share button through which the user can share it with other platforms.

[2020-10-08 06:37] ManasUniyal commented on #392
I would like to go ahead with this project, can you assign it to me?

[2020-10-08 06:49] shubhamc1200 opened #498 "Binary and linear Search Algos"
## 🚀 Feature

(A clear and concise description of what the feature is.)

## Have you spent some time to check if this issue has been raised before?

No, this hasn't been raised earlier

### Have you read the [Contributing Guidelines](https://github.com/dubesar/Java-A-Z/blob/master/CONTRIBUTING.md)?
Yes

## Pitch
Want to add the basic Linear and Binary search algos.

Linear search: Start from the l

[2020-10-08 06:58] dubesar commented on #432
@FaMoSi are you done with this?

[2020-10-08 06:58] kunal299 commented on #392
@ManasUniyal Sure, you can start this project.

[2020-10-08 06:59] dubesar commented on #436
@mujtaba1747 are you done with this?

[2020-10-08 07:12] ManasUniyal commented on #392
Okay @kunal299 :+1:

[2020-10-08 07:38] dubesar commented on #479
@mujtaba1747 are you done with this?

[2020-10-08 08:12] mujtaba1747 commented on #436
Nope, still working on it ... Will pull asap

[2020-10-08 08:34] aasif1297 commented on #431
Hi, I would like to work on this feature. Please assign it to me.

[2020-10-08 08:36] aasif1297 commented on #413
I want to work on it.

[2020-10-08 08:54] AnubhavPabby commented on #498
Could you assign me this task?

[2020-10-08 08:57] avinash14022002 commented on #498
Could you assign me this task?

[2020-10-08 11:08] kunal299 commented on #431
@aasif1297 You can start working on this issue.

[2020-10-08 11:16] shubhamc1200 commented on #498
Hey @AnubhavPabby Ive raised this same issue before so you have to wait according to guidelines.

[2020-10-08 12:12] djnautiyal opened #507 "Adding Design Pattern Section"
## 🚀 Feature

Small but concise code to explain Design pattern concepts in Java.

## Have you spent some time to check if this issue has been raised before?

Yes

### Have you read the [Contributing Guidelines](https://github.com/dubesar/Java-A-Z/blob/master/CONTRIBUTING.md)?
Yes, just did

## Pitch

This is to prepare for common solutions, readily available to the problem a coder gets everyday.

[2020-10-08 12:15] djnautiyal commented on #507
I'm ready to submit 2 PRs for this. Just need the word.

[2020-10-08 12:31] aasif1297 commented on #431
Ok thanks.

[2020-10-08 15:15] dubesar commented on #507
@djnautiyal please submit the PR, will review it.

[2020-10-08 15:17] dubesar commented on #498
@shubhamc1200 please review the repo first before submitting the PR, we already have the search algorithms

[2020-10-08 15:17] #498 closed

[2020-10-08 15:39] dubesar opened #512 "Add Readme for Linkedlist in Data Structures folder in Linkedlist folder."
Add a readme file in the LinkedList folder with all about the linked list, every detailed information about LinkedList, Also all the files related to LinkedList in the entire repo should be moved to the LinkedList section.

Todo's
* [x] - Move all the LinkedList codes in the repository to the LinkedList folder in Data Structures.
* [x] - Add in proper readme with all the details about LinkedList.

[2020-10-08 16:53] Ashutoshgupta22 commented on #399
Hey! @kunal299 ,

this looks fun ..
 can I try this ?

[2020-10-08 16:54] Ashutoshgupta22 commented on #399
Hey! @kunal299 ,

this looks fun ..
 can I try this ?

[2020-10-08 16:59] djnautiyal commented on #507
@dubesar, I have also updated to Java11.

[2020-10-08 21:22] TusharSharmaIN commented on #512
Please assign it to me. I can do it.

[2020-10-09 03:29] #512 closed

[2020-10-09 03:33] dubesar commented on #436
@mujtaba1747 are you done on this?

[2020-10-09 04:58] prateekrai123 commented on #413
Can I work on this?

[2020-10-09 06:06] JCarlosR opened #518 "Dark mode and icons for the Meme Share Java (Android project)"
## 🚀 Feature

- Add dark mode using DayNight configuration
- Add drawable icons to the buttons
- Remove unused imports
- Improve code format and readability
- Add visibility modifiers to attributes

## Have you spent some time to check if this issue has been raised before?

Yes. The improvements were made according to the suggestions in the readme file of the Android project.

### Have you read th

[2020-10-09 08:21] EnnnnoN commented on #397
Hey :D
I would like to take this issue :)

[2020-10-09 10:46] djnautiyal commented on #507
@dubesar, should I share more PRs here? Or should I close this issue and create more issues?

[2020-10-09 14:12] spacemonkey1101 commented on #374
is this closed?

[2020-10-09 14:13] huyhoang8398 commented on #374
You can still work on this issue

[2020-10-09 17:03] prakhar-agarwall commented on #264
I'd like to take up this issue!!

[2020-10-09 17:03] prakhar-agarwall commented on #163
I'd like to take up this issue!!

[2020-10-09 17:05] prakhar-agarwall commented on #207
I'd like to take up this issue!!

[2020-10-09 17:51] LalwaniSurendra commented on #367
Can I take this?

[2020-10-09 17:56] debajitdeb11 commented on #407
@kunal299 I have made a pr #524 , Please have a look
Thanks!

[2020-10-09 20:15] jindalsachin opened #525 "Aggregation In Java OOP"
## 🚀 Feature

Aggregation represents the relationship where one object contains other objects as a part of its state. It represents the weak relationship between objects.

It is also termed as a has-a relationship in Java. Like, inheritance represents the is-a relationship. It is another way to reuse objects.

## Have you spent some time to check if this issue has been raised before?

Yes i have c

[2020-10-09 20:15] jindalsachin commented on #525
Please assign me this issue.

[2020-10-09 22:31] adizcode commented on #264
@kunal299 Before making the pull request, I'd like to know if I'm allowed to upload the project on my GitHub page as well.

It would make it easier for me to continue working on this some time later.

[2020-10-09 23:47] ivanebernal commented on #398
Hello @kunal299 , I would like to work on this

[2020-10-10 02:39] kunal299 commented on #398
@ivanebernal Sure, go for it.

[2020-10-10 04:53] Rohit-2602 commented on #439
@kunal299  can i work on this...
i new to open source so plzz tell me how do i find code for this..

[2020-10-10 07:12] mjay4 opened #528 "Adding Solution to some HackerRank Problems"
## 🚀 Feature

I am planning to add solution to some Problems from HackerRank in java.

## Have you spent some time to check if this issue has been raised before?

The solutions that I am posting haven't been posted yet.

### Have you read the [Contributing Guidelines](https://github.com/dubesar/Java-A-Z/blob/master/CONTRIBUTING.md)?

Yes, I have.

## Pitch

Some solutions that I have implemented a

[2020-10-10 07:12] mjay4 commented on #528
Can I work on this issue, @dubesar ?

[2020-10-10 10:42] dubesar commented on #525
@jindalsachin you can go ahead with this.

[2020-10-10 10:47] #236 closed

[2020-10-10 16:00] dubesar commented on #270
@Ishita-0112 are you working on this?

[2020-10-10 16:02] #366 closed

[2020-10-10 16:03] #407 closed

[2020-10-10 16:04] #425 closed

[2020-10-10 16:04] julianmangut opened #530 "Add Singleton Design Pattern"
Hello,

I will like to add the Singleton Design Pattern on the folder Design Patterns.

I have the PR ready waiting for approval.

Thank you!

[2020-10-10 16:06] julianmangut commented on #530
I didnt saw the template for the issue, sorry for didn't follow it. I had read the CONTIBUTING.md

[2020-10-10 16:07] dubesar commented on #530
@julianmangut Singelton design pattern has been committed to the repo

[2020-10-10 16:08] dubesar commented on #530
@julianmangut what you can do is contribute a detailed readme for the singleton pattern, just move the singleton code to a folder and add a readme in that for singleton pattern

[2020-10-10 16:09] #507 closed

[2020-10-10 16:14] julianmangut commented on #530
I was looking for it and I didn't saw it, sorry.

I have a md prepare with a little introduction a an example in Java code.

Where you would like that I put¿?

[2020-10-10 16:17] dubesar commented on #530
Just go in the design pattern folder and there will be an existing code for singleton, just make a new folder named singleton and add in that code and your readme for the concept.

[2020-10-10 16:25] julianmangut commented on #530
I moved the explanation to an .md file (I think that is more beautiful) and created the folder.

I am going to ask for the PR.

[2020-10-10 17:38] Ishita-0112 commented on #270
Yes I am working on it. Aiming to complete it on or before 12.10.2020.

[2020-10-10 18:53] debajitdeb11 opened #537 "Add JavaFX Application"
## 🚀 Feature

JavaFX Applications

Hello, I would like to add some JavaFX Applications

[2020-10-11 00:28] JaredLGillespie opened #539 "Add Floyd Warshall algo"
## 🚀 Feature

Algo: https://en.wikipedia.org/wiki/Floyd%E2%80%93Warshall_algorithm

## Have you spent some time to check if this issue has been raised before?

Don't see any existing PRs / Issues for this.

### Have you read the [Contributing Guidelines](https://github.com/dubesar/Java-A-Z/blob/master/CONTRIBUTING.md)?

Yep.

[2020-10-11 06:59] #528 closed

[2020-10-11 11:36] djnautiyal opened #542 "Explanation for Abstract Factory Pattern"
## 📚 Documentation

Adding concise explanation of the Abstract Factory pattern. Add it into a folder and provide explanation to the code provided

## Have you spent some time to check if this issue has been raised before?

Yes

### Have you read the [Contributing Guidelines](https://github.com/dubesar/Java-A-Z/blob/master/CONTRIBUTING.md)?

Yes.

[2020-10-11 16:18] marlonluca commented on #207
Is there somebody working on this issue?

[2020-10-11 21:39] prakhar-agarwall commented on #207
Am I assigned with this issue, I think not?

[2020-10-13 05:28] AntoineDoniel opened #550 "Adding Games in Android Project"
## 🚀 Feature

The android projects directory has no games, would like to add simple games like snake game and flappy bird

## Have you spent some time to check if this issue has been raised before?

Yes

### Have you read the [Contributing Guidelines](https://github.com/dubesar/Java-A-Z/blob/master/CONTRIBUTING.md)?

Yes

## Pitch

The projects suggested are beginner friendly and they enable pract

[2020-10-13 17:30] anfaas1618 opened #551 "gauss Jordan method (algorithm) to solve linear equation"
1.impliment a way to solve the linear equation using matrix method of gauss Jordan
2.create the different steps involved in solving
3.print the solutions

[2020-10-15 08:19] amintai commented on #551
@anfaas1618  can i work on this?

[2020-10-15 09:23] adizcode commented on #264
@dubesar Hey, could you please take a look at the pull request.

[2020-10-15 12:46] #542 closed

[2020-10-15 12:59] anfaas1618 commented on #551
I am not the moderator here, but yes go for it , just remember to use java as this repo is all about java.

[2020-10-15 12:59] anfaas1618 commented on #551
go for it dude

[2020-10-16 04:38] amintai commented on #539
@JaredLGillespie  can i work on floyd warshall algo?

[2020-10-17 00:12] SMontiel commented on #349
@kunal299 can I work on this?

[2020-10-17 05:33] Jeewantha95 commented on #408
Hi, I would like to work on this feature. Please assign it to me.

[2020-10-17 05:34] Jeewantha95 commented on #394
Hi, I would like to work on this feature. Please assign it to me.

[2020-10-17 20:29] abdullahcevik opened #561 "Some conditional statements should be simplified"
Hi, I realized some conditional statements not simple. I think these statements will be simplified.
I shared these below.

https://github.com/dubesar/Java-A-Z/blob/d80523e9e348a0a738c56cde7dea99b50faae813/Data%20Structures/StackUsingArrayList.java#L44

https://github.com/dubesar/Java-A-Z/blob/5614247b952505e8a8d20e2af26afa49e9071f4b/Stack-Queue/BracketMatchingProblem.java#L38

https://github.com/d

[2020-10-18 09:50] dubesar commented on #550
@AntoineDoniel you can work on this.

[2020-10-18 09:51] #539 closed

[2020-10-18 09:51] #530 closed

[2020-10-18 09:52] #525 closed

[2020-10-19 05:33] djnautiyal opened #564 "Design Pattern in Java"
## 🚀 Feature

Creating this issue for people to learn new design patterns. Mention this issue in your PRs. Please check the **design pattern** folder in master branch to ensure that the design pattern has been worked on before.

## Have you spent some time to check if this issue has been raised before?

Not needed

### Have you read the [Contributing Guidelines](https://github.com/dubesar/Java-A-Z

[2020-10-19 12:00] dubesar commented on #564
@djnautiyal yes please you can work on the PRs

[2020-10-20 08:19] pranatimittal commented on #550
Can I also add to this?

[2020-10-21 08:59] #550 closed

[2020-10-23 20:07] Priyanshi-3 commented on #431
Hi, can you assign me this issue? I will like to work on it.

[2020-10-25 15:24] #551 closed

[2020-10-26 03:03] dubesar commented on #564
This issue will remain open till the following patterns are not added:-

- [ ] Adapter Pattern
- [ ] Bridge Pattern
- [ ] Composite Pattern
- [ ] Decorator Pattern
- [ ] Flyweight Pattern
- [ ] Proxy Pattern

[2020-10-27 02:42] kavinraju opened #573 "Anagram Problem"
## 🚀 Feature

Code for an anagram problem. A set of Strings are set to be anagram if it consists of the same letters irrespective of their order, for example, "qwerty" is anagram to "twerqy".

## Have you spent some time to check if this issue has been raised before?

Yes

### Have you read the [Contributing Guidelines](https://github.com/dubesar/Java-A-Z/blob/master/CONTRIBUTING.md)?

Yes

## Pit

[2020-10-27 03:00] kavinraju opened #575 "SubSet Sum Possiblity Program"
## 🚀 Feature

### SubSet Sum Possibilty
Code to check if it's possible to obtain the sum from the subset of an integer array.

## Have you spent some time to check if this issue has been raised before?

Not needed

### Have you read the [Contributing Guidelines](https://github.com/dubesar/Java-A-Z/blob/master/CONTRIBUTING.md)?

Yes

## Pitch

This a problem that's been asked in most of the campus

[2020-10-27 03:48] kavinraju opened #577 "Minimum Coins Problem"
## 🚀 Feature

### Minimum Coins
From the given set of coins find out the minimum number of coins required to obtain the sum as the total amount.

## Have you spent some time to check if this issue has been raised before?

Yes

### Have you read the [Contributing Guidelines](https://github.com/dubesar/Java-A-Z/blob/master/CONTRIBUTING.md)?

Yes

## Pitch

This a problem that's been asked in most of

[2020-10-28 03:48] anujverma-eng commented on #413
Can I contribute on these Requirements as I have also Created this kind of app with Favorite List , Sharing with intent feature ,also I have a Idea to make this app more Impressive by adding some new features Related to UI (designing part ) as Said by you If you want to do so then I can Help you in this by adding some of my knowledge into this . Dynamically Reloading with RecyclerView .

[2020-11-07 03:25] #577 closed

[2020-11-07 03:25] #573 closed

[2020-11-12 10:58] #264 closed

[2020-11-21 18:28] AkMo3 opened #580 "Changing BubbleSort Algorithm from only int to Generic."
## 🐛 Bug Report

The current [BubbleSort(InsertionSort)](https://github.com/dubesar/Ultimate-Java-Resources/blob/master/Sorting/bubble_sort.java) sort array of only Integer type.

## Have you spent some time to check if this issue has been raised before?

Not Required

## To Reproduce

Not Required

## Expected behavior

The algorithm should be generic.

(Write what you thought would happen.)

##

[2020-11-21 18:29] AkMo3 commented on #580
I would like to take this issue.

[2020-11-23 03:31] dubesar commented on #580
@AkMo3 Yes you can go ahead with this!

[2020-11-23 03:32] #575 closed

[2020-11-23 22:27] #580 closed

[2020-11-27 02:35] #258 closed

[2020-11-27 02:35] #270 closed

[2020-11-27 02:35] #286 closed

[2020-11-27 02:36] #287 closed

[2020-11-28 03:23] #561 closed

[2020-11-28 03:24] #360 closed

[2020-11-29 05:55] #328 closed

[2020-11-29 07:19] #374 closed

[2020-11-29 07:27] #321 closed

[2020-11-29 08:21] #249 closed

[2020-11-29 08:45] #439 closed

[2020-11-29 08:46] #432 closed

[2020-11-29 09:11] #431 closed

[2020-11-29 09:11] #413 closed

[2020-11-29 09:12] #408 closed

[2020-11-29 09:12] #399 closed

[2020-11-29 09:13] #397 closed

[2020-11-29 09:13] #396 closed

[2020-11-29 09:13] #394 closed

[2020-11-29 09:14] #398 closed

[2020-11-29 09:15] #392 closed

[2020-11-29 09:17] #379 closed

[2020-11-29 09:17] #370 closed

[2020-11-29 09:17] #367 closed

[2020-11-29 09:18] #365 closed

[2020-11-29 09:18] #349 closed

[2020-11-29 09:18] #332 closed

[2020-11-29 09:18] #345 closed

[2020-11-29 09:19] #329 closed

[2020-11-29 09:19] #327 closed

[2020-11-29 09:19] #251 closed

[2020-11-29 09:19] #311 closed

[2020-11-29 09:20] #326 closed

[2020-11-29 09:21] #248 closed

[2020-11-30 14:35] dubesar commented on #385
@SaurabhVj are your working on this

[2021-09-30 18:01] #537 closed

[2021-09-30 18:01] dubesar commented on #537
@debajitdeb11 you can create a pull request for the same.

[2021-09-30 18:02] #479 closed

[2021-09-30 18:21] sourabhvarshney111 commented on #564
@dubesar I would like to work on this issue.

[2021-09-30 19:44] shubhamnag14 commented on #564
Sir, I want to contribute bridge and decorator in python please assign me this

[2021-10-01 06:56] mephi007 commented on #564
Hi, I would like to contribute on this issue. I can take up Decorator, Proxy, Flyweight. Please assign.

[2021-10-01 09:04] dubesar commented on #564
@mephi007 @sourabhvarshney111 is working on this. Can you pick some other open issues? Or add some new features to this repos?

[2021-10-01 09:26] mephi007 commented on #564
@dubesar if Mapreduce is not already a feature.  would like to work on it

[2021-10-02 17:38] dubesar commented on #564
@mephi007 you can work on mapreduce

[2021-10-02 17:40] dubesar commented on #564
This issue is still open for two remaining design patterns

[2021-10-02 18:42] riadh26 commented on #564
Can i add the command pattern please ?

[2021-10-04 00:25] cdhiraj40 opened #589 "Adding a hotel app"
## 🚀 Feature
A hotel application which provides two services- "Book a Room" and "Reserve a Table".
(A clear and concise description of what the feature is.)

## Have you spent some time to check if this issue has been raised before?
it has not been raised
(Have you googled for a similar issue or checked our older issues for a similar bug)

### Have you read the [Contributing Guidelines](https://gi

[2021-10-04 05:06] cdhiraj40 commented on #564
hey, @dubesar I have made PRs for both the remaining patterns you can check. :)

[2021-10-04 05:10] #564 closed

[2021-10-04 05:14] Yashp1210 commented on #518
hello , Assign me this issue

[2021-10-04 07:36] cdhiraj40 commented on #206
@dubesar what's remaining in this issue? if its still open then I would like to work on this :)

[2021-10-04 14:17] JCarlosR commented on #518
This is already implemented @Yashp1210
We are waiting for @dubesar or @kunal299 to review it: https://github.com/dubesar/Ultimate-Java-Resources/pull/519

[2021-10-04 14:28] #518 closed

[2021-10-07 21:27] nobita851 opened #597 "Strongly Connected Components"
## 🚀 Feature

(A clear and concise description of what the feature is.)

## Have you spent some time to check if this issue has been raised before?
yes

(Have you googled for a similar issue or checked our older issues for a similar bug)

### Have you read the [Contributing Guidelines](https://github.com/dubesar/Java-A-Z/blob/master/CONTRIBUTING.md)?
Yes

(Write your answer here.)
The repository i

[2021-10-17 12:55] mete23 opened #599 "Add an example of a little programm rolling a dice"

[2021-10-18 04:34] #589 closed

[2022-03-09 17:49] shubhamshah14102 commented on #599
Hii @mete23.
Please can you brief me more about the issue.
As per my understanding, you need a dice rolling app which generates a random dice number and displays the same.
Cold you guide me if I am right or wrong and about your suggestions

[2022-10-09 07:50] CodeXstalker opened #604 "Missing required-to-read book folder for java Developer"
HI @dubesar
As  I am also JAVA developer and I  learned it from various wherewithal, like from YouTube, Blogs, Java Documentation  and so on.
But in the way , fortunately I got books which helped me in my software development journey in following ways:-
              1.   Writing clean code
              2.   Effective usage of  OOPS concept
              3.   Making easy-to-understand documentati

[2022-10-09 08:11] CodeXstalker opened #605 "Want to Android app in android folder."
HI @dubesar

I  want  to add one android app named  `Truth And Dare` which is developed by me .

Please **assign** this to me.

[2022-10-09 09:48] CodeXstalker commented on #604
I want to work on this issue.
**Please assign me.**

[2022-10-09 09:48] CodeXstalker commented on #605
I want to work on this issue.
**Please assign me.**

[2022-10-10 07:34] dubesar commented on #604
Assigned.

[2022-10-10 07:35] dubesar commented on #605
Assigned

[2022-10-11 11:20] CodeXstalker commented on #605
Hey @dubesar I got into problem.
This repo is creating problem  while cloning, please  help me to resolve it.

[2022-10-11 16:49] dubesar commented on #605
What problem are you facing? Can you share it here?

[2022-10-12 08:27] Snehagupta24 opened #606 "House Robber DP Problem"
## 🚀 Feature

House Robber Dynamic Programming Problem Question on Leetcode

## Have you spent some time to check if this issue has been raised before?

I solved this question in java on leetcode and found it interesting

### Have you read the [Contributing Guidelines](https://github.com/dubesar/Java-A-Z/blob/master/CONTRIBUTING.md)?

(Yes)

## Pitch

House Robber Problem clears the concept of Dyn

[2022-10-12 08:28] Snehagupta24 commented on #606
please accept this issue

[2022-10-12 10:02] dubesar commented on #606
Assigned

[2022-10-12 10:26] Snehagupta24 commented on #606
please review this file and accept my merge request. please add the hacktoberfest accepted label if you find this PR useful.

[2022-10-12 15:22] Snehagupta24 commented on #606
Please review this issue and if you find it useful then merge with the
hacktoberfest accepted label.

On Wed, Oct 12, 2022, 15:32 Sarvesh Dubey ***@***.***> wrote:

[2022-10-12 21:48] mete23 opened #608 "make an example of a random Dice Rolling program"
## 🚀 Feature

like described i would like to add a dice rolling program
i think its good to show the usage of random numbers.

[2022-10-26 19:46] #606 closed

[2022-10-28 13:03] NeamulIslamFahim opened #611 "Java 1D Array of HackerRank Solution has been contributed"
## 🚀 Feature

(A clear and concise description of what the feature is.)

## Have you spent some time to check if this issue has been raised before?

(Have you googled for a similar issue or checked our older issues for a similar bug)

### Have you read the [Contributing Guidelines](https://github.com/dubesar/Java-A-Z/blob/master/CONTRIBUTING.md)?

(Write your answer here.)

## Pitch

(Please expla

[2022-10-31 07:37] #611 closed

[2022-11-02 14:15] NeamulIslamFahim opened #620 "Java BigInteger Contrubuted"
## 🚀 Feature

(A clear and concise description of what the feature is.)

## Have you spent some time to check if this issue has been raised before?

(Have you googled for a similar issue or checked our older issues for a similar bug)

### Have you read the [Contributing Guidelines](https://github.com/dubesar/Java-A-Z/blob/master/CONTRIBUTING.md)?

(Write your answer here.)

## Pitch

(Please expla